<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de Imovel</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>
<body>
<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1 th:if="${imovel.novo}">Cadastro de Imóvel</h1>
						<h1 th:unless="${imovel.novo}" th:text="|Edição de ${imovel.descricao}|">Edição de Imóvel</h1>
					</div>
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/imoveis}"> 
							   <i class="glyphicon  glyphicon-search"></i> 
							   <span class="hidden-xs  hidden-sm">Pesquisa</span>
							</a>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="POST" th:object="${imovel}" class="form-vertical  js-form-loading"
				th:action="${imovel.nova} ? @{/imoveis/novo} : @{/imoveis/{codigo}(codigo=${imovel.codigo})}">
				
				<sinapiPRO:message/>
				
				<input type="hidden" th:field="*{codigo}"/>
				
				<div class="row">
					<div class="form-group col-sm-12    sn-required" sinapiPRO:classforerror="descricao">
						<label for="descricao" class="control-label">Descrição</label>
						<input id="descricao" type="text" class="form-control" th:field="*{descricao}" />
					</div>	
				</div>
				<div class="row">
					<div class="form-group col-sm-6    sn-required" sinapiPRO:classforerror="cidade">
						<label for="cidade" class="control-label">Cidade</label>
						<input id="cidade" type="text" class="form-control" th:field="*{cidade}" />
					</div>	
					
					<div class="form-group col-sm-6    sn-required" sinapiPRO:classforerror="estado">
						<label for="estado" class="control-label">Estado</label>
						<input id="estado" type="text" class="form-control" th:field="*{estado}" />
					</div>	
				</div>
				<div class="row">
					<div class="form-group col-sm-6    sn-required" sinapiPRO:classforerror="endereco">
						<label for="endereco" class="control-label">Endereco</label>
						<input id="endereco" type="text" class="form-control" th:field="*{endereco}" />
					</div>	
					
					<div class="form-group col-sm-6    sn-required" sinapiPRO:classforerror="bairro">
						<label for="bairro" class="control-label">Bairro</label>
						<input id="bairro" type="text" class="form-control" th:field="*{bairro}" />
					</div>	
				</div>
				<div class="row">
					<div class="form-group col-sm-6    sn-required" sinapiPRO:classforerror="modalidadeVenda">
						<label for="modalidadeVenda" class="control-label">Modalidade Venda</label>
						<input id="modalidadeVenda" type="text" class="form-control" th:field="*{modalidadeVenda}" />
					</div>	
					
					<div class="form-group col-sm-6    sn-required" sinapiPRO:classforerror="link">
						<label for="link" class="control-label">Link</label>
						<input id="link" type="text" class="form-control" th:field="*{link}" />
					</div>	
				</div>
				
				<div class="row">
					<div class="form-group col-sm-6    sn-required" sinapiPRO:classforerror="preco">
						<label for="preco" class="control-label">preco</label>
						<input id="preco" type="text" class="form-control" th:field="*{preco}" />
					</div>	
					
					<div class="form-group col-sm-6    sn-required" sinapiPRO:classforerror="valorAvaliacao">
						<label for="valorAvaliacao" class="control-label">Valor Avaliacao</label>
						<input id="valorAvaliacao" type="text" class="form-control" th:field="*{valorAvaliacao}" />
					</div>	
				</div>
			 
				<button class="btn  btn-primary" type="submit">Salvar</button>
				
			</form>
		</div>
	</section>
</body>
</html>