<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/LayoutPadrao}"
	  xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br"
	  xmlns:data="http://www.thymeleaf.org/extras/data">

<head>

<title>Orçamento</title>
<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
	
</head>

<section layout:fragment="conteudo">
	<!-- #{mensagem} arquivo messages.properties -->
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4">
					<h1 th:if="${orcamento.novo}"     th:text="#{orcamento.cadastro.titulo}"></h1>
					<h1 th:unless="${orcamento.novo}" th:text="#{orcamento.edicao.obra(${orcamento.codigo}, ${orcamento.nome})}">Casa Residencial </h1>
				</div>
				<div class="col-xs-4 text-center">
				  	<h1 th:unless="${orcamento.novo}" th:text="#{orcamento.edicao.uf(${orcamento.estado.nome})}">RN</h1> 
				</div>
				
				<div class="col-xs-4">
				   <div class="aw-page-header-controls">
				   		<a class="btn  btn-default js-tooltip" title="Pesquisar Insumos" th:href="@{/insumos}">
							<i class="fa fa-cube"></i> <span class="hidden-xs  hidden-sm"></span>
						</a>
						<span style="width:10px"></span>
				   		<a class="btn  btn-default js-tooltip" title="Pesquisar Composições" th:href="@{/composicoes}">
							<i class="fa fa-cubes"></i> <span class="hidden-xs  hidden-sm"></span>
						</a>
						<span style="width:10px"></span>
				   		<a class="btn  btn-default js-tooltip" title="Editar Orçamento" th:href="@{/orcamentos/{codigo}(codigo=${orcamento.codigo}) }">
							<i class="glyphicon  glyphicon-pencil"></i> <span class="hidden-xs  hidden-sm"></span>
						</a>
						<span style="width:10px"></span>
						<a class="btn  btn-default js-tooltip" title="Imprimir Orçamento" th:href="@{/orcamentos/{codigo}(codigo=${orcamento.codigo}) }">
							<i class="glyphicon  glyphicon-print"></i> <span class="hidden-xs  hidden-sm"></span>
						</a>
				   </div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:action="@{/item/novo}" 
		      th:object="${orcamento}" class="js-formulario-orcamento">
		      
		     <sinapiPRO:message/> 
		      
			<input type="hidden" th:field="*{uuid}" id="uuid" />
			<input type="hidden" th:field="*{codigo}"/>
			<input type="hidden" th:field="*{nome}"/>
			<input type="hidden" th:field="*{cliente}"/>
			<input type="hidden" th:field="*{baseInsumo}"/>
			<input type="hidden" th:field="*{basePreco}"/>
			<input type="hidden" th:field="*{estado}"/>
			<input type="hidden" th:field="*{dataCriacao}"/>
			<input type="hidden" th:field="*{usuario}"/>
			<input type="hidden" th:field="*{etapaSelecionada}"/>
			
			
			
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav nav-pills">
					  <li><a data-toggle="pill" href="#etapas">ETAPAS</a></li>
					  <li><a data-toggle="pill" href="#composicoes">COMPOSIÇÕES</a></li>
					  <li class="active"><a data-toggle="pill" href="#insumos">INSUMOS</a></li>
					 
					</ul>
				</div>
				
			</div>
			
			<div class="row">
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="composicoes" >
					<div class="row">
						<div class="col-lg-12">
							<input type="text" 
							       class="form-control  js-composicao-input" 
							       id="composicao" 
								   placeholder="Pesquise a composicao pelo Nome" 
								   data:url="@{/composicoes}"/>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="insumos">
					 <div class="row" >
						<div class="col-lg-12" >
							<input type="text" 
							       class="form-control  js-insumo-input" 
							       id="insumo" 
								   placeholder="Pesquise e adicione o insumo pelo Nome" 
								   data:url="@{/insumos}"/>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="etapas">
					 <div class="row">
						<div class="col-lg-12">
							<input type="text" 
							       class="form-control  js-etapa-input" 
							       id="etapa" 
								   placeholder="Pesquise e adicione a etapa pelo Nome" 
								   data:url="@{/etapas}"/>
						</div>
					</div>
				</div>
				<div class="sn-tabela-composicoes  js-tabela-item-container" 
				     data:valor-total="${valorTotalItens}"
				     data:valor-mao-obra="${valorMaoObraItens}"
				     data:valor-material="${valorMaterialItens}"
				     data:valor-equipamento="${valorEquipamentoItens}">
				     
					 <th:block th:replace="orcamento/TabelaItensOrcamento"/>
					 
				</div>
			</div>
			 
			 
			</div>
			
			
			<!-- totais -->
			<div class="row">
				<div class="col-sm-3">
					<div class="aw-box  js-valor-total-box-container">
						<div class="aw-box__icon">
							<i class="fa  fa-usd  fa-2x"></i>
						</div>
						<div class="aw-box__value">R$ <span class="js-valor-total-box" th:text="${{orcamento.valorTotal}}">0,00</span></div>
						<div class="aw-box__title">Total</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="aw-box  js-total-servicos-box-container">
						<div class="aw-box__icon">
							<i class="fa  fa-usd  fa-2x"></i>
						</div>
						<div class="aw-box__value">R$ <span class="js-valor-mao-obra-box" th:text="${{orcamento.valorTotal}}">0,00</span></div>
						<div class="aw-box__title">Mão de Obra</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="aw-box  js-total-materiais-box-container">
						<div class="aw-box__icon">
							<i class="fa  fa-usd  fa-2x"></i>
						</div>
						<div class="aw-box__value">R$<span class="js-valor-material-box" th:text="${{orcamento.valorTotal}}">0,00</span></div>
						<div class="aw-box__title">Materiais</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="aw-box  js-total-equipamentos-box-container">
						<div class="aw-box__icon">
							<i class="fa  fa-usd  fa-2x"></i>
						</div>
						<div class="aw-box__value">R$<span class="js-valor-equipamento-box" th:text="${{orcamento.valorTotal}}">0,00</span></div>
						<div class="aw-box__title">Equipamentos</div>
					</div>
				</div>
				 
			</div> 	
			<!-- fim totais -->	
			 
			<div class="row" style="clear: both">
				<div class="col-lg-12">
					<div class="btn-group">
					  <button type="submit" class="btn  btn-primary  js-submit-btn" data:acao="salvar">Salvar</button>
					  <button type="button" class="btn  btn-primary  dropdown-toggle" data-toggle="dropdown">
					    <span class="caret"></span>
					  </button>
					  
					  <ul class="dropdown-menu">
					    <li><a href="#" class="js-submit-btn" data:acao="efetivar">Salvar e efetivar</a></li>
					    <li><a href="#" class="js-submit-btn" data:acao="concluir">Concluir</a></li>
					    <li><a href="#" class="js-submit-btn" data:acao="bloquear">Bloquear</a></li>
					  </ul>
					</div>
				
					<button class="btn  btn-danger  js-submit-btn" 
					        data:acao="cancelar" 
					        th:unless="${orcamento.novo}">Cancelar</button>
				</div>
			</div>
			
		</form>
		
	</div>
	
	<!-- <th:block th:replace="hbs/TemplateAutocompleteComposicao"></th:block>   -->
	<script id="template-autocomplete-composicao" type="text/x-handlebars-template">
	<div class="sn-tabela-item">
	    
		<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--unidade">
			 <span>{{unidade}}</span>
		</div>
		<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--detalhes">
			<span>{{descricao}}</span>
		</div>
		<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--valores">
			<span  class="label  label-default">{{codigo}}</span>
			<div class="sn-tabela-item-valor-medio">R${{valorFormatado}}</div>
		</div>

	</div>
	</script>
	
	<!--<th:block th:replace="hbs/TemplateAutocompleteInsumo"></th:block>   -->
	<script id="template-autocomplete-insumo" type="text/x-handlebars-template">
	<div class="bw-tabela-item">
	
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--detalhes">
			<span class="bw-tabela-item-nome">{{descricao}}</span>
			<span class="label label-default">{{codigo}}</span>
			<span class="bw-tabela-item-unidade">{{unidade}}</span>
		</div>
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--valores">
			<div class="bw-tabela-item-valor-medio">R${{valorFormatado}}</div>
		</div>

	</div>
	</script>

	<!--<th:block th:replace="hbs/TemplateAutocompleteEtapa"></th:block>   -->
	<script id="template-autocomplete-etapa" type="text/x-handlebars-template">
	<div class="sn-tabela-item">
	
		<div class="sn-tabela-item__coluna ">
			<span class="sn-tabela-item-codigo">{{codigo}}</span>
		</div>
		<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--detalhes">
			<span class="sn-tabela-item-nome">{{nome}}</span>
		</div>
	</div>
	</script>
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/orcamento/orcamento.autocomplete-composicao.js}"></script>
	<script th:src="@{/javascripts/orcamento/orcamento.autocomplete-insumo.js}"></script>
	<script th:src="@{/javascripts/orcamento/orcamento.autocomplete-etapa.js}"></script>
	<script th:src="@{/javascripts/orcamento/orcamento.tabela-itens.js}"></script>
	<script th:src="@{/javascripts/orcamento/orcamento.js}"></script>
	<script th:src="@{/javascripts/orcamento/orcamento.botoes-submit.js}"></script>
</th:block>

</html>
