<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de orçamentos</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="row">
					<div class="col-xs-10">
						<h2 th:text="#{orcamento.edicao.titulo(${orcamentoHead.codigo})}">Orçamento nº </h1>
					</div>
					<!--
					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/item}">
								<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Editar Orçamento</span>
							</a>
						</div>
					</div>
					 
					<form method="GET" th:object="${itemFilter}" th:action="@{/item}">
						<div class="row">
							<select id="tipo" class="form-control" th:field="*{tipo}">
								<option value="">Todos</option>
								<option value="E">Etapas</option>
								<option value="C">Composições</option>
								<option value="I">Insumos</option>
							</select>
						</div>
						<button type="submit" class="btn  btn-primary">Filtrar</button>
					</form>
					 -->
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
	
		
		
		<div class="table-responsive  bw-tabela-simples">
			<button type="submit" class="btn  btn-primary">+INSUMOS</button>
			<button type="submit" class="btn  btn-primary">+COMPOSIÇÕES</button>
			<button type="submit" class="btn  btn-primary">+ETAPAS</button>
			<table class="table  table-hover">
	            <thead>
	            	<tr>
	                	<th>Item</th>
	                	<th>Tipo</th>
	                	<th>Descrição</th>
	                	<th>Unidade</th>
	                	<th>Quantidade</th>
	                	<th>Unitário</th>
	                	<th>Total</th>
	                	<th>BDI</th>
	                	<th>Material</th>
	                	<th>MãoObra</th>
	                	<th>Equipamentos</th>
	                 	<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
	            <tbody>
					<tr th:each="item : ${pagina.conteudo}">
						
						<td th:text="${item.itemizacao}"></td>
						<td th:text="${item.tipo}"></td>
						<td th:text="${item.descricao}"></td>
						<td th:text="${item.unidade}"></td>
						<td th:text="${item.quantidade}"></td>
						<td th:text="${item.unitario}"></td>
						<td th:text="${item.valorTotal}"></td>
						<td th:text="${item.valorTotalBDI}"></td>
						<td th:text="${item.valorMaterial}"></td>
						<td th:text="${item.valorMaoObra}"></td>
						<td th:text="${item.valorEquipamentos}"></td>
						
						
	                 	<td class="text-center">
		   					<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
		   							th:href="@{/item/{codigo}(codigo=${orcamento.codigo})}">
		   						<i class="glyphicon glyphicon-pencil"></i>
		   					</a>
	                 	</td>
	                 	<td class="text-center">
		   					<a class="btn  btn-link  btn-xs  js-tooltip" title="Excluir" 
		   							th:href="@{/orcamentos/{codigo}(codigo=${orcamento.codigo})}">
		   						<i class="glyphicon glyphicon-pencil"></i>
		   					</a>
	                 	</td>
	                 	
	                 	
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="7">Nenhum item foi incluido</td>
	                </tr>
	             </tbody>
	         </table>
		</div>
		<sinapiPRO:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>