<!DOCTYPE html>
<html lang="pt" 
      xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data">
	  
	<div class=" container-fluid table-responsive  sn-tabela-simples">
	
	<table class="table ">
      	<thead> 
     	<tr>
     		<th class="table-item-chk"></th>
         	<th class="table-item-itemizacao">Item</th>
         	<th class="table-item-tipo">Tipo</th>
         	<th class="table-item-codigo">Código</th>
           	<th class="table-item-descricao">Descrição</th>  
         	<th class="table-item-unidade">Unidade</th>
          	<th class="table-item-quantidade">Qtd</th>
            <th class="table-item-custoUnitario">Vl.Unitário</th>
         	<th class="table-item-custoTotal">Total</th>
            <th class="table-col-acoes"></th>  
		</tr>
		</thead>
	
        <tbody >
        	<div th:each="item : ${itens}" 
        	     class="js-tabela-item"
        	     data:valor-total="${valorTotal}"
        	     data:valor-mao-obra="${valorMaoObra}"
        	     data:valor-material="${valorMaterial}"
        	     data:valor-equipamento="${valorEquipamento}">
        	 
				<div th:switch="${item.tipo}" class="js-tabela-item">  
					
					<tr th:case="'E'"  class="sn-etapa"> 
					
						  <td>
						  <input class="js-seleciona"
						         type="checkbox" 
						         name="chk" 
						         th:checked="false" 
						         th:value="1"
						         data:codigo-etapa="${item.etapa.codigo}"/>
						  </td>	  
						  <td th:text="${item.itemizacao}"></td>
						  <td></td>
						  <td></td>
						  <td th:text="${item.etapa.nome}"></td>
						  <td> </td>
						  <td> </td>
						  <td> </td>
						  <td> </td>
						  <td>
	                 	      <a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
							   th:href="@{/item/{codigo}(codigo=${item.etapa.codigo})}"> 
							   <i class="glyphicon glyphicon-pencil"></i>
							  </a>
							  <a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" 
							   href="#" data:url="@{/item/{codigo}(codigo=${item.etapa.codigo})}"
							   data:objeto="${item.etapa.nome}"> <i class="glyphicon glyphicon-remove"></i>
							  </a>
						  </td>
					</tr>
					
					<tr th:case="'C'"  >
					
						  <td> </td>
					
						  <td th:text="${item.itemizacao}"></td> 
						  <td th:text="${item.tipo}"></td>
						  <td th:text="${item.composicao.codigo}"></td>
						  <td th:text="${item.composicao.descricao}"></td>
						  <td th:text="${item.composicao.unidade}" class="text-center"></td>
						  
						  <td>
						      <input type="text" maxlength="3" 
						      		 class="js-tabela-quantidade-item text-right table-item-quantidade" 	
							         th:value="${item.quantidade}" 
								     data:codigo-item="${item.composicao.codigo}"
								     data:tipo="${item.tipo}"
								     data:codigo-etapa="${item.etapa.codigo}"
								     
								     />
						  </td>
						  <td class="text-right" th:text="${#numbers.formatDecimal(item.composicao.custoTotal, 0, 'POINT', 2, 'COMMA')}"></td>
						  <td class="text-right" th:text="${#numbers.formatDecimal(item.quantidade * item.composicao.custoTotal, 0, 'POINT', 2, 'COMMA')}"></td> 
						  <td> </td>
						  
					</tr>
						  
					<tr th:case="'I'" class="sn-insumo">
						  <td> </td>	
					      <td th:text="${item.itemizacao}"></td> 
					      <td th:text="${item.tipo}"></td>
					      <td th:text="${item.insumo.codigoInsumo}"></td>
						  <td th:text="${item.insumo.descricao}"></td>
						  <td th:text="${item.insumo.unidade}" class="text-center"></td> 
						  <td >
						      <input type="text" maxlength="3" 
							         class="js-tabela-quantidade-item text-right table-item-quantidade" 
							         th:value         ="${item.quantidade}" 
								     data:codigo-item ="${item.insumo.codigoInsumo}"
								     data:tipo        ="${item.tipo}"
								     data:codigo-etapa="${item.etapa.codigo}"/>
						  </td>
						  <td class="text-right" th:text="${#numbers.formatDecimal(item.insumo.precoPadrao, 0, 'POINT', 2, 'COMMA')}"></td>
						  <td class="text-right" th:text="${#numbers.formatDecimal(item.quantidade * item.insumo.precoPadrao, 0, 'POINT', 2, 'COMMA')}"></td> 
						  <td> </td>
						  
					</tr> 	
				 </div>
			</div>
			
	        <tr th:if="${itens.empty}">
	          	<td colspan="7">Nenhum item foi incluido</td>
	        </tr>
          </tbody>
       </table>
	</div>
</html>