<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Cotações</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-sm-8"><h1>Cotações</h1></div>
	<div class="col-sm-4 text-right" style="margin-top:20px;">
		<a class="btn btn-success" th:href="@{/cotacoes/novo}"><i class="glyphicon glyphicon-plus"></i> Nova</a>
	</div>
</div></div></div>
<div class="container-fluid">
	<form method="GET" class="form-inline" style="margin-bottom:15px;">
		<div class="form-group"><label>Obra</label>
			<select name="codigoObra" class="form-control" onchange="this.form.submit()">
				<option value="">Selecione...</option>
				<option th:each="o : ${obras}" th:value="${o.codigo}" th:text="${o.nome}"
					th:selected="${codigoObra != null and codigoObra == o.codigo}"></option>
			</select>
		</div>
	</form>
	<div th:if="${cotacoes != null}">
		<table class="table table-hover table-bordered">
			<thead><tr><th>#</th><th>Data</th><th>Validade</th><th>Itens</th><th>Fornecedores</th><th>Situação</th><th class="table-col-acoes"></th></tr></thead>
			<tbody>
				<tr th:each="c : ${cotacoes}">
					<td th:text="${c.numero}"></td>
					<td th:text="${#temporals.format(c.dataCotacao,'dd/MM/yyyy')}"></td>
					<td th:text="${c.dataValidade != null} ? ${#temporals.format(c.dataValidade,'dd/MM/yyyy')} : ''"></td>
					<td th:text="${c.itens.size()}"></td>
					<td th:text="${c.fornecedores.size()}"></td>
					<td><span class="label" th:classappend="${c.situacao == 'ABERTA'} ? 'label-warning' : 'label-success'" th:text="${c.situacao}"></span></td>
					<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/cotacoes/{c}(c=${c.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
				</tr>
				<tr th:if="${cotacoes.isEmpty()}"><td colspan="7">Nenhuma cotação encontrada</td></tr>
			</tbody>
		</table>
	</div>
</div>
</section></body></html>
