<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Cheque</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
    <div class="col-sm-10"><h1 th:if="${cheque.novo}">Novo Cheque</h1><h1 th:unless="${cheque.novo}" th:text="|Cheque: ${cheque.numero}|">Cheque</h1></div>
    <div class="col-sm-2"><a class="btn btn-default" th:href="@{/cheques}"><i class="glyphicon glyphicon-arrow-left"></i></a></div>
</div></div></div>
<div class="container-fluid">
<form method="POST" th:object="${cheque}"
      th:action="${cheque.novo} ? @{/cheques/novo} : @{/cheques/{c}(c=${cheque.codigo})}">
    <sinapiPRO:message/><input type="hidden" th:field="*{codigo}"/>
    <div class="row">
        <div class="form-group col-sm-4">
            <label class="control-label">Conta Bancária</label>
            <select class="form-control" th:field="*{contaBancaria}">
                <option value="">Selecione...</option>
                <option th:each="cb : ${contas}" th:value="${cb.codigo}" th:text="${cb.banco + ' - ' + cb.conta}"></option>
            </select>
        </div>
        <div class="form-group col-sm-2 sn-required"><label class="control-label">Número</label><input type="text" class="form-control" th:field="*{numero}"/></div>
        <div class="form-group col-sm-4"><label class="control-label">Beneficiário</label><input type="text" class="form-control" th:field="*{beneficiario}"/></div>
        <div class="form-group col-sm-2 sn-required"><label class="control-label">Valor</label><input type="number" step="0.01" class="form-control" th:field="*{valor}"/></div>
    </div>
    <div class="row">
        <div class="form-group col-sm-2 sn-required"><label class="control-label">Emissão</label><input type="date" class="form-control" th:field="*{dataEmissao}"/></div>
        <div class="form-group col-sm-2"><label class="control-label">Bom Para</label><input type="date" class="form-control" th:field="*{dataBomPara}"/></div>
        <div class="form-group col-sm-2">
            <label class="control-label">Situação</label>
            <select class="form-control" th:field="*{situacao}">
                <option value="EMITIDO">Emitido</option><option value="COMPENSADO">Compensado</option><option value="DEVOLVIDO">Devolvido</option><option value="CANCELADO">Cancelado</option>
            </select>
        </div>
        <div class="form-group col-sm-4"><label class="control-label">Observação</label><input type="text" class="form-control" th:field="*{observacao}"/></div>
    </div>
    <button class="btn btn-primary" type="submit">Salvar</button>
</form>
</div>
</section></body></html>
