<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Referências do Cliente</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-xs-10"><h1>Referências do Cliente</h1></div>
	<div class="col-xs-2"><a class="btn btn-success" th:href="@{/clientesReferencia/novo/{c}(c=${codigoCliente})}"><i class="glyphicon glyphicon-plus-sign"></i> Nova</a></div>
</div></div></div>
<div class="container-fluid">
<table class="table table-hover table-bordered">
	<thead><tr><th>Nome</th><th>Telefone</th><th>Tipo</th><th class="table-col-acoes"></th></tr></thead>
	<tbody>
		<tr th:each="r : ${referencias}">
			<td th:text="${r.nome}"></td><td th:text="${r.telefone}"></td><td th:text="${r.tipo}"></td>
			<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/clientesReferencia/{c}(c=${r.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
		</tr>
		<tr th:if="${referencias.isEmpty()}"><td colspan="4">Nenhuma referência cadastrada</td></tr>
	</tbody>
</table>
</div></section></body></html>
