<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br">
	
<head>
	<title>Cadastro de Insumo</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${insumo.novo}">Cadastro de insumo</h1>
					<h1 th:unless="${insumo.novo}" th:text="|Edição do Insumo nº ${insumo.codigoInsumo}|">Edição de insumo</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/insumos}">
							<i class="glyphicon  glyphicon-plus-sign"></i> 
							<span class="hidden-xs  hidden-sm">PESQUISA</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" 
		      th:object="${insumo}" 
		      class="form-vertical  js-formulario-insumo" 
			  th:action="@{/insumos/novo}">
			
			<sinapiPRO:message/>
			
			<input type="hidden" th:field="*{codigo}"/>
			
			<div class="row">
				<div class="form-group col-sm-2  sn-required" >
					<label for="codigoInsumo" class="control-label">Código</label>
				    <input id="codigoInsumo" type="number" class="form-control" th:field="*{codigoInsumo}"/>
				</div>			
				<div class="form-group col-sm-5 sn-required" sinapiPRO:classforerror="baseInsumo" >
					<label class="control-label" for="baseInsumo">Base de Insumos</label>
					<select id="baseInsumo" class="form-control" th:field="*{baseInsumo}">
	                    <option value="">Todas</option>
	                    <option th:each="base : ${baseInsumos}" th:text="${base.nome}" th:value="${base.codigo}"></option>
	                </select>
				</div>			
				<div class="col-sm-5 form-group">
					<label for="basePreco">Base Preços Padrão</label>
					<select id="basePreco" class="form-control" th:field="*{basePreco}">
	                   <option value="">Selecione a Base de Preços</option>
	                   <option th:each="basePreco : ${basePrecos}" 
	                           th:value="${basePreco.codigo}" 
	                           th:text="${basePreco.nome}">SINAPI</option>
                	</select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-2  form-group  sn-required" sinapiPRO:classforerror="unidade">
					<label for="unidade" class="control-label">UN</label>
					<input id="unidade" type="text" class="form-control" th:field="*{unidade}"/>
				</div>
				
				<div class="col-sm-5  form-group  sn-required" sinapiPRO:classforerror="especie">
					<label for="especie" class="control-label">Espécie</label>
					<select id="sabor" class="form-control" th:field="*{especie}">
						<option value="">Selecione a espécie</option>
						<option th:each="especie : ${especies}" th:value="${especie}" th:text="${especie.descricao}">Materiais</option>
					</select>
				</div>
				
				<div class="col-sm-5 form-group">
					<label for="precoPadrao" class="control-label">Preço Padrão</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="precoPadrao" type="text" class="form-control  js-decimal" th:field="*{precoPadrao}"/>
					</div>
				</div>
			</div> 
			
			<div class="row">
				 <div class="col-sm-12  form-group sn-required" sinapiPRO:classforerror="descricao">
					<label for="descricao" class="control-label">Descricao</label>
					<textarea id="descricao" rows="4" class="form-control" th:field="*{descricao}"></textarea>
				</div>
			</div>
									
			<div class="form-group">
			
				<div class="btn-group">  
					<div th:if="${insumo.novo}">	
					    <button type="submit" 
					            class="btn  btn-lg btn-primary  js-submit-btn" 
					            data:acao="salvar">Salvar</button>
						
					</div>
					<div th:unless="${insumo.novo}">
						<div th:if="${insumo.sinapi}">	
						     <button type="submit" 
						             class="btn btn-lg btn-success  js-submit-btn" 
						             data:acao="copiar"
						             data-toggle="tooltip" 
						             data-placement="top" 
						             title="Escolha acima a Base de Insumo">Copiar</button>
						</div>
						<div th:unless="${insumo.sinapi}"> 
						    <button type="submit" 
						            class="btn  btn-lg btn-primary  js-submit-btn" 
						            data:acao="salvar">Salvar</button>
						</div>
					</div>
				</div>	
				
			</div>
			
		</form>
	</div>
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/insumo/insumo.botoes-submit.js}"></script>
	
</th:block>
	
</body>
</html>