<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br">
	
<head>
	<title>Cadastro de Insumo</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${insumo.novo}">Cadastro de insumo</h1>
					<h1 th:unless="${insumo.novo}" th:text="|Edição do ${insumo.descricao}|">Edição de insumo</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/insumos}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">PESQUISA</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:object="${insumo}" class="form-vertical  js-form-loading" 
				th:action="${insumo.novo} ? @{/insumos/novo} : @{/insumos/{codigo}(codigo=${insumo.codigo})}">
			<sinapiPRO:message/>
			
			<input type="hidden" th:field="*{codigo}"/>   
			
			<div class="row">
				
			    <div class="col-sm-2  form-group  bw-required" sinapiPRO:classforerror="base">
					<label for="base" class="control-label">Base</label>
					<select id="base" class="form-control" th:field="*{base}">
						<option value="">Selecione a base</option>
						<option th:each="base : ${bases}" th:value="${base}" th:text="${base.descricao}">Sinapi</option>
					</select>
				</div>
				 
				<div class="col-sm-2 form-group  bw-required" sinapiPRO:classforerror="estado">
					<label for="estado" class="control-label">Estado</label>
					<div class="bw-field-action">
						<select id="estado" class="form-control" th:field="*{estado}">
							<option value="">Selecione o estado</option>
							<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">Parana</option>
						</select>
					</div>
				</div>
				
				<div class="col-sm-2  form-group  bw-required" sinapiPRO:classforerror="anoMes">
					<label for="anoMes" class="control-label">Ano/Mes</label>
					<input id="anoMes" type="text" class="form-control" th:field="*{anoMes}"/>
				</div>
				
				
				
			</div>
			
			<div class="row">
				<div class="col-sm-2  form-group  bw-required" sinapiPRO:classforerror="sku">
					<label for="sku" class="control-label">SKU</label>
					<input id="sku" type="text" class="form-control" th:field="*{sku}"/>
				</div>	
				
				<div class="col-sm-2  form-group  bw-required" sinapiPRO:classforerror="unidade">
					<label for="unidade" class="control-label">UN</label>
					<input id="unidade" type="text" class="form-control" th:field="*{unidade}"/>
				</div>
				
				<div class="col-sm-2  form-group  bw-required" sinapiPRO:classforerror="preco">
					<label for="valor" class="control-label">Preço</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valor" type="text" class="form-control  js-decimal" th:field="*{preco}"/>
					</div>
				</div>
			</div>
			
			<div class="row">
				 <div class="col-sm-10  form-group bw-required" sinapiPRO:classforerror="descricao">
					<label for="descricao" class="control-label">Descricao</label>
					<textarea id="descricao" rows="4" class="form-control" th:field="*{descricao}"></textarea>
				</div>
			</div>
				
									
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	
</th:block>
	
</body>
</html>