<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br">
	
<head>
	<title>Pesquisa de insumos</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de insumos</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/insumos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo insumo</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${insumoFilter}">
		
			<div class="row">
				<div class="form-group  col-sm-2">
					<label class="control-label" for="codigoInsumo">Código Insumo</label>
					<input type="number" class="form-control" id="codigoInsumo" autofocus="autofocus" th:field="*{codigoInsumo}"/>
				</div>
			 
				<div class="form-group  col-sm-10">
					<label class="control-label" for="sku">Descrição</label>
					<input type="text" class="form-control" id="descricao" autofocus="autofocus" th:field="*{descricao}"/>
				</div>
				
				
			</div>

			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-insumos-col-codigo">
							<sinapiPRO:order page="${pagina}" field="codigoInsumo" text="Código"/>
						</th>
						<th class="table-insumos-col-unidade">Unidade</th>
						<th class="table-insumos-col-preco">Preço Padrão</th>
						<th class="table-insumos-col-descricao">
							<sinapiPRO:order page="${pagina}" field="descricao" text="Descrição"/>
						</th>
						
						<th class="table-insumos-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="insumo : ${pagina.conteudo}">
						 								 
						<td class="text-center" th:text="${insumo.codigoInsumo}">1234</td>
						<td class="text-center" th:text="${insumo.unidade}">KG</td>
						<td class="text-right"  th:text="|R$ ${{insumo.precoPadrao}}|">R$ 8.00</td>
						<td th:text="${insumo.descricao}">Pedreiro</td>
						
						<td class="text-center">
						    
							<a class="btn  btn-link  btn-xs  js-tooltip js-precos-btn" 
							   title="Preços" 
							   href="#" 
							   data-toggle="modal" 
							   data-target="#pesquisaRapidaPrecos" 							     
							   data:codigo="${insumo.codigoInsumo}"> 
							   
							   <i class="glyphicon glyphicon-stats"></i>
							</a>
						
							<a class="btn  btn-link  btn-xs  js-tooltip " 
							   title="Editar" 
							   th:href="@{/insumos/{codigo}(codigo=${insumo.codigo})}"> 
							   <i class="glyphicon glyphicon-pencil"></i>
							</a>
							
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" 
							   title="Excluir" href="#" 
							   data:url="@{/insumos/{codigo}(codigo=${insumo.codigo})}"
							   data:objeto="${insumo.descricao}">
							   <i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="7">Nenhum Insumo encontrado</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		
		<sinapiPRO:pagination page="${pagina}"/>
		
	</div>


	<th:block th:replace="insumo/PesquisaRapidaPrecos :: pesquisaRapidaPrecos"></th:block>

</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/preco/preco.pesquisa-rapida.js}"></script>
</th:block>

</body>
</html>