<page-header title="Relatórios" subtitle="Indicadores e análises gerenciais" />

<div class="reports-grid">
  @for (group of reportGroups; track group.title) {
    <div class="report-group">
      <h3><mat-icon>{{ group.icon }}</mat-icon> {{ group.title }}</h3>
      <div class="report-items">
        @for (item of group.items; track item.label) {
          <a class="report-item" [routerLink]="item.route" [queryParams]="item.params || {}">
            <mat-icon>{{ item.icon }}</mat-icon>
            <div>
              <span class="item-label">{{ item.label }}</span>
              <span class="item-desc">{{ item.description }}</span>
            </div>
          </a>
        }
      </div>
    </div>
  }
</div>
