<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Pedidos de Compra</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-sm-8"><h1>Pedidos de Compra</h1></div>
	<div class="col-sm-4 text-right" style="margin-top:20px;">
		<a class="btn btn-success" th:href="@{/pedidosCompra/novo}"><i class="glyphicon glyphicon-plus"></i> Novo</a>
	</div>
</div></div></div>
<div class="container-fluid">
	<form method="GET" class="form-inline" style="margin-bottom:15px;">
		<div class="form-group"><label>Obra</label>
			<select name="codigoObra" class="form-control" onchange="this.form.submit()">
				<option value="">Selecione...</option>
				<option th:each="o : ${obras}" th:value="${o.codigo}" th:text="${o.nome}"
					th:selected="${codigoObra != null and codigoObra == o.codigo}"></option>
			</select>
		</div>
	</form>
	<div th:if="${pedidos != null}">
		<table class="table table-hover table-bordered">
			<thead><tr><th>#</th><th>Data</th><th>Fornecedor</th><th class="text-right">Valor Total</th><th>Situação</th><th class="table-col-acoes"></th></tr></thead>
			<tbody>
				<tr th:each="p : ${pedidos}">
					<td th:text="${p.numero}"></td>
					<td th:text="${#temporals.format(p.dataPedido,'dd/MM/yyyy')}"></td>
					<td th:text="${p.fornecedor != null} ? ${p.fornecedor.nome} : ''"></td>
					<td class="text-right" th:text="${#numbers.formatDecimal(p.valorTotal,1,2)}"></td>
					<td><span class="label" th:classappend="${p.situacao == 'ABERTO'} ? 'label-warning' : (${p.situacao == 'RECEBIDO'} ? 'label-success' : 'label-default')" th:text="${p.situacao}"></span></td>
					<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/pedidosCompra/{c}(c=${p.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
				</tr>
				<tr th:if="${pedidos.isEmpty()}"><td colspan="6">Nenhum pedido encontrado</td></tr>
			</tbody>
		</table>
	</div>
</div>
</section></body></html>
