<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}"
	  xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br">
<head><title>Pesquisa de Empresas</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-xs-10"><h1>Pesquisa de Empresas</h1></div>
	<div class="col-xs-2"><a class="btn btn-default" th:href="@{/empresas/novo}"><i class="glyphicon glyphicon-plus-sign"></i></a></div>
</div></div></div>
<div class="container-fluid">
<form method="GET" th:object="${empresaFilter}">
	<div class="form-group col-sm-12"><label class="control-label">Nome</label><input type="text" class="form-control" th:field="*{nome}"/></div>
	<button type="submit" class="btn btn-primary">Pesquisar</button>
</form>
<div class="table-responsive sn-tabela-simples"><table class="table table-hover">
	<thead><tr><th>Código</th><th>Nome</th><th>CNPJ</th><th>Telefone</th><th class="table-col-acoes"></th></tr></thead>
	<tbody>
		<tr th:each="e : ${pagina.conteudo}">
			<td th:text="${e.codigo}"></td><td th:text="${e.nome}"></td>
			<td th:text="${e.cnpj}"></td><td th:text="${e.telefone}"></td>
			<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/empresas/{c}(c=${e.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
		</tr>
		<tr th:if="${pagina.vazia}"><td colspan="5">Nenhuma empresa encontrada</td></tr>
	</tbody>
</table></div>
<sinapiPRO:pagination page="${pagina}"/>
</div></section></body></html>
