<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:brewer="http://sinapiPRO.ifrn.edu.br"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}">
	
<head>
	<title>Pesquisa de base de Insumos</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de Base de Insumos</h1>
				</div>
				<div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/baseInsumos/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> 
							<span class="hidden-xs  hidden-sm">Nova Base de Insumo</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<form method="GET" th:object="${baseInsumoFilter}">
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="nome">Base de Insumo</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Pesquisar</button>
		</form>
		<div class="table-responsive  sn-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-classes-col-codigo text-center">Código</th>
						<th> <sinapiPRO:order page="${pagina}" field="nome" text="Nome"/> </th>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="baseInsumo : ${pagina.conteudo}">
						<td class="text-center" th:text="${baseInsumo.codigo}">001</td>
						<td th:text="${baseInsumo.nome}">Hidraulica</td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
							   th:href="@{/baseInsumos/{codigo}(codigo=${baseInsumo.codigo})}"> 
							   <i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" 
							   title="Excluir" 
							   href="#" data:url="@{/baseInsumos/{codigo}(codigo=${baseInsumo.codigo})}"
							   data:objeto="${baseInsumo.nome}"> <i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="3" >Nenhuma Base de Insumo encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		<sinapiPRO:pagination page="${pagina}"/>
	</div>
</section>
</body>
</html>