<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Notas Fiscais de Serviço</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
    <div class="col-xs-10"><h1>Notas Fiscais de Serviço</h1></div>
    <div class="col-xs-2"><a class="btn btn-success" th:href="@{/notasFiscaisServico/novo}"><i class="glyphicon glyphicon-plus"></i></a></div>
</div></div></div>
<div class="container-fluid">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Número</th>
            <th>Série</th>
            <th>Cliente</th>
            <th>Emissão</th>
            <th class="text-right">Valor Serviços</th>
            <th class="text-right">ISS (%)</th>
            <th class="text-right">Valor Líquido</th>
            <th>Situação</th>
            <th class="table-col-acoes"></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="nf : ${notas}">
            <td th:text="${nf.numero}"></td>
            <td th:text="${nf.serie}"></td>
            <td th:text="${nf.cliente.nome}"></td>
            <td th:text="${#temporals.format(nf.dataEmissao,'dd/MM/yyyy')}"></td>
            <td class="text-right" th:text="${#numbers.formatDecimal(nf.valorServicos,1,2)}"></td>
            <td class="text-right" th:text="${#numbers.formatDecimal(nf.aliquotaIss,1,2) + '%'}"></td>
            <td class="text-right" th:text="${#numbers.formatDecimal(nf.valorLiquido,1,2)}"></td>
            <td>
                <span class="label"
                      th:classappend="${nf.situacao == 'EMITIDA'} ? 'label-success' : (${nf.situacao == 'CANCELADA'} ? 'label-danger' : 'label-default')"
                      th:text="${nf.situacao}"></span>
            </td>
            <td class="text-center">
                <a class="btn btn-link btn-xs" th:href="@{/notasFiscaisServico/{c}(c=${nf.codigo})}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
        </tr>
        <tr th:if="${notas.isEmpty()}"><td colspan="9">Nenhuma nota fiscal encontrada</td></tr>
    </tbody>
</table>
</div>
</section></body></html>
