<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/LayoutPadrao}"
				xmlns:sinapiPRO="http://sinapripro.ifrn.edu.br"
				xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro Composições</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.min.css}"/>
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/easy-autocomplete.themes.min.css}"/>
</head>
 
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${composicao.nova}">Cadastro de Composições</h1>
					<h1 th:unless="${composicao.nova}" 
					    th:text="|Edição da composição nº ${composicao.codigoComposicao}|">Edição de composição</h1>
				</div>
				 <div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/composicoes}"> 
						   <i class="glyphicon  glyphicon-search"></i> 
						   <span class="hidden-xs  hidden-sm">PESQUISA</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<form method="POST" 
		      th:object="${composicao}" 
		      class="js-formulario-composicao"
			  th:action="@{/composicoes/nova}">
			
			<sinapiPRO:message/>
			
			<input type="hidden" id="uuid" th:field="*{uuid}"/>
			<input type="hidden" th:field="*{codigo}"/>
			<input type="hidden" th:field="*{usuario}"/>
			<input type="hidden" th:field="*{itens}"/>
			<input type="hidden" th:field="*{usuario}">
			<input type="hidden" th:field="*{status}">
			<input type="hidden" th:field="*{dataCriacao}">
			<input type="hidden" th:field="*{percMaoObra}">
			<input type="hidden" th:field="*{percMaterial}">
			<input type="hidden" th:field="*{percEquipamento}">
			
			<div class="row">
			
				<div class="form-group col-sm-2  sn-required"  sinapiPRO:classforerror="codigoComposicao" >
					<label for="codigoComposicao" class="control-label">Código</label>
				    <input id="codigoComposicao" type="number" class="form-control" th:field="*{codigoComposicao}"/>
				</div>	
				<div class="form-group  col-sm-2 sn-required"  sinapiPRO:classforerror="baseInsumo">
					<label for="baseInsumo">Base Insumos</label>
					<select id="baseInsumo" class="form-control" th:field="*{baseInsumo}">
	                    <option value="">Todas</option>
	                    <option th:each="baseInsumo : ${baseInsumos}" 
	                            th:value="${baseInsumo.codigo}" 
	                            th:text="${baseInsumo.nome}">SINAPI</option>
	                </select>
	       		</div>  
	       		<div class="form-group col-sm-2 ">
					<label for="basePreco">Base Preços</label>
					<select id="basePreco" class="form-control" th:field="*{basePreco}">
	                   <option value="">Todas</option>
	                   <option th:each="basePreco : ${basePrecos}" 
	                           th:value="${basePreco.codigo}" 
	                           th:text="${basePreco.nome}">SINAPI</option>
                	</select>
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="composicaoClasse">Classe</label>
					<select id="composicaoClasse" class="form-control" th:field="*{composicaoClasse}">
	                    <option value="">Selecione a Classe</option>
	                    <option th:each="composicaoClasse : ${composicaoClasses}" 
	                            th:value="${composicaoClasse.codigo}" 
	                            th:text="${composicaoClasse.nome}">HIDRAULICA</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="composicaoGrupo">Grupo</label>
					<select id="composicaoGrupo" class="form-control" th:field="*{composicaoGrupo}">
	                    
	                    <option value="">Todos</option>
	                    <option th:each ="composicaoGrupo : ${composicaoGrupos}" 
	                            th:value="${composicaoGrupo.codigo}" 
	                            th:text ="${composicaoGrupo.nome}">SINAPI</option>
	                </select>
				</div>
			</div>	
				
			<div class="row">	
			    <div class="col-sm-9 form-group sn-required" sinapiPRO:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label>
					<textarea id="descricao" rows="2" class="form-control" th:field="*{descricao}"></textarea>
				</div>	
				<div class="form-group col-sm-1 sn-required" sinapiPRO:classforerror="unidade">
					<label for="unidade" class="control-label">Unidade</label>
					<input id="unidade" type="text" class="form-control" th:field="*{unidade}" />
				</div>
				 
				<div class="form-group col-sm-2">
					<label for="custoTotal" class="control-label">Preço Padrão</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="custoTotal" type="text" class="form-control  js-decimal" th:field="*{custoTotal}"/>
					</div>
				</div>
			</div>
			
			<div class="row card" >
				<div class="form-group col-sm-3">
					<label for="custoMaoObra" class="control-label">Custo Mão de Obra</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input disabled id="custoMaoObra" type="text" class="form-control  js-decimal" th:field="*{custoMaoObra}"/>
					</div>
				</div>
				<div class="form-group col-sm-3">
					<label for="custoMaterial" class="control-label">Custo Material</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input disabled id="custoMaterial" type="text" class="form-control  js-decimal" th:field="*{custoMaterial}"/>
					</div>
				</div>
				<div class="form-group col-sm-3">
					<label for="custoEquipamento" class="control-label">Custo Equipamento</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input disabled id="custoEquipamento" type="text" class="form-control  js-decimal" th:field="*{custoEquipamento}"/>
					</div>
				</div>
				<div class="form-group col-sm-3">
					<label for="custoTotal" class="control-label">Custo Total</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input disabled id="custoTotal" type="text" class="form-control  js-decimal" th:field="*{custoTotal}"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				 
				<div th:if="${composicao.nova}">	
				    <button type="submit" class="btn  btn-lg btn-primary  js-submit-btn">Salvar</button>
				</div>
				<div th:unless="${composicao.nova}">
					<div th:if="${composicao.sinapi}">	
					     <button type="submit" 
					             class="btn btn-success  js-submit-btn" 
					             data:acao="copiar"
					             data-toggle="tooltip" 
					             data-placement="top" 
					             title="Escolha acima a Base de Insumo">Adicionar em Outra Base</button>
					</div>
					<div th:unless="${composicao.sinapi}"> 
					    <button type="submit" class="btn  btn-lg btn-primary  js-submit-btn">Salvar</button>
					</div>
					<button type="submit" 
					             class="btn btn-secundary  js-submit-btn" 
					             data:acao="imprimir"
					             data-toggle="tooltip" 
					             data-placement="top" 
					             title="Imprime a composição">Imprimir</button>
				</div>
			 
			</div>
		</form>
		
		<div class="table-responsive  sn-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-orca-col-codigo">Código</th>
						<th class="table-orca-col-tipo">Tipo</th>
						<th class="table-col-descricao">Descrição</th>
						<th class="table-col-unidade text-center">Unidade</th>
						<th class="table-col-valor text-right">Coeficiente</th>
						<th class="table-col-valor text-right">Vl.Unitário</th>
						<th class="table-col-valor text-right">Vl.Total</th>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				<tbody>
				<div th:each="filtro : ${itens}">
					<tr th:switch="${filtro.tipo.descricao}">
						<th:block th:case="'Insumo'">
							<td class="text-center">
							    <a class="js-tooltip" 
							       title="Edita o Insumo"	
							       th:text="${filtro.codigoItem}"
							       th:href="@{/insumos/editaPorCodigo/{codigo}(codigo=${filtro.codigoItem})}">
							    </a>
							</td> 
							<td class="text-center" th:text="${#strings.substring(filtro.tipo,0,1)}">C</td>
							<td class="text-left"   th:text="${filtro.descricao}">Alvenaria</td>
							<td class="text-center" th:text="${filtro.unidade}">M2</td>
							<td class="text-right js-coeficiente" th:text="|${#numbers.formatDecimal(filtro.coeficiente, 0, 'POINT', 7, 'COMMA')}|">0,0010C</td>
							<td class="text-right js-decimal"     th:text="|R$ ${#numbers.formatDecimal(filtro.precoUnitario, 0, 'POINT', 2, 'COMMA')}|">R$4,56</td>
							<td class="text-right js-decimal"     th:text="|R$ ${#numbers.formatDecimal(filtro.custoTotal, 0, 'POINT', 2, 'COMMA')}|">R$0,0456</td>
							 
							<td class="text-center">
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
								   th:href="@{/atual/{codigo}(codigo=${filtro.codigo})}"> 
								   <i class="glyphicon glyphicon-pencil"></i>
								</a>
								<form action="#" th:action="@{'/atual/{codigo}'(codigo=${filtro.codigo})}" th:method="delete">
									<input type="hidden" name="_method" value="delete"/>
								    <button type="submit" class="btn  btn-link  btn-xs  js-tooltip" title="Excluir"> 
								            <i class="glyphicon glyphicon-trash"></i>
								    </button>        
								</form>
							</td>
						</th:block>
						
						<th:block th:case="'Composição'" >
							<td class="text-center">
							    <a class="js-tooltip" 
							       title="Edita a Composição"	
							       th:text="${filtro.codigoItem}"
							       th:href="@{/composicoes/editaPorCodigo/{codigo}(codigo=${filtro.codigoItem})}">
							    </a>
							</td> 						
							<td class="text-center" th:text="${#strings.substring(filtro.tipo,0,1)}">COMPOSICAO</td>
							<td class="text-left"   th:text="${filtro.descricao}">Alvenaria</td>
							<td class="text-center" th:text="${filtro.unidade}">C</td>
							<td class="text-right js-coeficiente" th:text="|${#numbers.formatDecimal(filtro.coeficiente, 0, 'POINT', 7, 'COMMA')}|">C</td>
							<td class="text-right js-decimal"     th:text="|R$ ${#numbers.formatDecimal(filtro.precoUnitario, 0, 'POINT', 2, 'COMMA')}|">C</td>
							<td class="text-right js-decimal"     th:text="|R$ ${#numbers.formatDecimal(filtro.custoTotal, 0, 'POINT', 2, 'COMMA')}|">R$ 12,89</td>
							 
							<td class="text-center">
								<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
								   th:href="@{/composicoes/item/{codigo}(codigo=${filtro.codigo})}"> 
								   <i class="glyphicon glyphicon-pencil"></i>
								</a>
								<form action="#" 
								      th:action="@{'/composicoes/item/{codigo}'(codigo=${filtro.codigo})}" 
								      th:method="delete" class="form-horizontal">
									<input type="hidden" name="_method" value="delete"/>
								    <button type="submit" class="btn  btn-link  btn-xs  js-tooltip" title="Excluir"> 
								            <i class="glyphicon glyphicon-trash"></i>
								    </button>        
								</form>
							</td>
						</th:block>
					</tr>
					
					<!-- <tr th:if="${itens}">
						<td colspan="3" >Nenhuma item encontrado</td>
					</tr> -->
				   	
				</div> <!-- filtro -->
				</tbody>
			</table>
		</div>
	</div>

	<script id="template-autocomplete-insumo" type="text/x-handlebars-template">
		<div class="table-responsive  sn-tabela-simples"> 
			<table class="table table-hover">
				<td class="table-item-composicao-col-codigo-item">{{codigo}}</td>
				<td class="table-item-composicao-col-codigo-item">{{codigoItem}}</td>
				<td class="table-item-composicao-col-unidade">    {{unidade}}</td>
				<td class="table-item-composicao-col-descricao">  {{descricao}}</td>
				<td class="table-item-composicao-col-valor">   R$ {{valorFormatado}} </td>
			</table>
		</div>
	</script>
	
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/composicao/composicao.autocomplete-itens.js}"></script>
	<script th:src="@{/javascripts/composicao/composicao.tabela-itens.js}"></script>
	<script th:src="@{/javascripts/composicao/composicao.js}"></script>
	<script th:src="@{/javascripts/composicao/composicao.botoes-submit.js}"></script>
	<script>
		$(function() {
			$('.js-abas-insumos a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			});
		});
	</script>
</th:block>
 
</html>


