<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/LayoutPadrao}"
				xmlns:sinapiPRO="http://sinapripro.ifrn.edu.br"
				xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro Composições</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>
 
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${composicao.nova}">Cadastro de Composições</h1>
					<h1 th:unless="${composicao.nova}" 
					    th:text="|Edição da composição nº ${composicao.codigo}|">Edição de composição</h1>
				</div>
				 <div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/composicoes}"> 
						   <i class="glyphicon  glyphicon-search"></i> 
						   <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<form method="POST" 
		      th:object="${composicao}" 
		      class="js-formulario-principal"
			  th:action="${composicao.nova} ? @{/composicoes/nova} : @{/composicoes/{codigo}(codigo=${composicao.codigo})}">
			
			<sinapiPRO:message/>
			
			<div class="row">
			
				<div class="col-sm-12 form-group sn-required" sinapiPRO:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label>
					<textarea id="descricao" rows="2" class="form-control" th:field="*{descricao}"></textarea>
				</div>	
			</div>	
				
			<div class="row">	
				<div class="col-sm-4 form-group sn-required" sinapiPRO:classforerror="unidade">
					<label for="unidade" class="control-label">Unidade</label>
					<input id="unidade" type="text" class="form-control" th:field="*{unidade}" />
				</div>
				
				<div class="col-sm-4  form-group  sn-required" sinapiPRO:classforerror="custoTotal">
					<label for="custoTotal" class="control-label">Preço Padrão</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="custoTotal" type="text" class="form-control  js-decimal" th:field="*{custoTotal}"/>
					</div>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="baseInsumo">Base Insumos Padrão</label>
					<select id="baseInsumo" class="form-control" th:field="*{baseInsumo}">
	                    <option value="">Selecione a Base de Insumos</option>
	                    <option th:each="baseInsumo : ${baseInsumos}" 
	                            th:value="${baseInsumo.codigo}" 
	                            th:text="${baseInsumo.nome}">SINAPI</option>
	                </select>
	       		</div>  
			</div>
			
						
			<div class="row">
			
				<div class="form-group  col-sm-4">
					<label for="classeComposicao">Classe</label>
					<select id="classeComposicao" class="form-control" th:field="*{classeComposicao}">
	                    <option value="">Selecione a Classe</option>
	                    <option th:each="classeComposicao : ${classesComposicao}" 
	                            th:value="${classeComposicao.codigo}" 
	                            th:text="${classeComposicao.nome}">HIDRAULICA</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="grupoComposicao">Grupo</label>
					<select id="grupoComposicao" class="form-control" th:field="*{grupoComposicao}">
	                    
	                    <option value="">Selecione um grupo da Composição</option>
	                    
	                    <option th:each="grupoComposicao : ${gruposComposicoes}" 
	                            th:value="${grupoComposicao.codigo}" 
	                            th:text="${grupoComposicao.nome}">SINAPI</option>
	                </select>
				</div>
			
				
                <div class="form-group  col-sm-4">
					<label for="basePreco">Base Preços Padrão</label>
					<select id="basePreco" class="form-control" th:field="*{basePreco}">
	                   <option value="">Selecione a Base de Preços</option>
	                   <option th:each="basePreco : ${basePrecos}" 
	                           th:value="${basePreco.codigo}" 
	                           th:text="${basePreco.nome}">SINAPI</option>
                	</select>
				</div>
			</div>
				
				
				
			<div class="row">
				<div class="form-group  col-lg-12">
					<ul class="nav nav-tabs  js-abas-composicao">
					  <li role="presentation" class="active"> <a href="#itens-composicao">Itens e Coeficientes</a></li>
					  <li role="presentation"><a href="#historico">Histórico de Preços</a></li>
					</ul>
				</div>
			</div>
			
			<div class="tab-content">
			
				<div class="tab-pane active" id="itens-composicao">
					 
					<div class="table-responsive  sn-tabela-simples">
						<table class="table  table-hover">
				            <thead>
				            	<tr>
				            		<th class="table-item-composicao-col-tipo">Tipo</th>
				                	<th class="table-item-composicao-col-codigo-item">Código</th>
				                	<th class="table-item-composicao-col-descricao">Descricao</th>
				                	<th class="table-item-composicao-col-unidade">Unidade</th>
				                	<th class="table-item-composicao-col-coeficiente">Coeficiente</th>
				                	<th class="table-item-composicao-col-valor">Vl.Unitário</th>
				                 	<th class="table-col-acoes"></th>
								</tr>
							</thead>
							
				            <tbody>
								<tr th:each="it : ${itens}">
									<td class="text-center" th:text="${it.tipo}"></td>
									<td class="text-center" th:text="${it.codigoItem}"></td>
									<td class="text-left" th:text="${it.descricao}"></td>
									<td class="text-center" th:text="${it.unidade}"></td>
									<td class="text-center" th:text="|${{it.coeficiente}}|"></td>
									<td class="text-center" th:text="|R$ ${{it.precoUnitario}}|"></td>
									
				                 	<td class="text-center">
				                 	    <a class="btn  btn-link  btn-xs  js-tooltip" 
										   title="Preços" 
										   href="#" data-toggle="modal" data-target="#modalListaPrecos"> 
										   <i class="glyphicon glyphicon-stats"></i>
										</a>
					   				
				                 	</td>
				                </tr>
				             </tbody>
			         	</table>
					</div>
				</div>
				
				<div class="tab-pane" id="historico">
				
					<div class="row">
						<div class="form-group  col-sm-3">
								HISTÓRICO PREÇOS
						</div>
						
						<div class="form-group  col-sm-3">
						
						</div>
					</div>
				 
				</div>
			</div>
					
			<button class="btn  btn-primary" type="submit">Salvar</button>
			
		</form>
	</div>

</section>
 
</html>