<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/LayoutPadrao}"
				xmlns:sinapiPRO="http://sinapripro.ifrn.edu.br"
				xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Cadastro Composições</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>
 
<section layout:fragment="conteudo">

	<div class="page-header">
	
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${composicao.nova}">Cadastro de Composições</h1>
					<h1 th:unless="${composicao.nova}" th:text="|Edição da composição ${composicao.codigo}|">Edição de composição</h1>
				</div>
				 <div class="col-sm-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/composicao}"> 
						   <i class="glyphicon  glyphicon-plus-sign"></i> 
						   <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<form method="POST" 
		      th:object="${composicao}" 
		      class="form-vertical  js-form-loading"
			  th:action="${composicao.nova} ? @{/composicao/nova} : @{/composicao/{codigo}(codigo=${composicao.codigo})}">
			
			<sinapiPRO:message/>
			
			<div class="row">
			
				<div class="col-sm-4 form-group" sinapiPRO:classforerror="codigo">
					<label for="codigo" class="control-label">Codigo</label>
					<input id="codigo" type="numeric" class="form-control" th:field="*{codigo}" />
				</div>
				
				<div class="col-sm-4 form-group bw-required" sinapiPRO:classforerror="unidade">
					<label for="unidade" class="control-label">Unidade</label>
					<input id="unidade" type="text" class="form-control" th:field="*{unidade}" />
				</div>
				
				<div class="col-sm-4  form-group  bw-required" sinapiPRO:classforerror="custoTotal">
					<label for="custoTotal" class="control-label">Preço Padrão</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="custoTotal" type="text" class="form-control  js-decimal" th:field="*{custoTotal}"/>
					</div>
				</div>
								
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group bw-required" sinapiPRO:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label>
					<textarea id="descricao" rows="4" class="form-control" th:field="*{descricao}"></textarea>
				</div>	
			</div>
			
			<div class="row">
			
				<div class="form-group  col-sm-3">
					<label for="classe">Classe</label>
					<select id="classe" class="form-control" th:field="*{classe}">
	                    
	                    <option value="">Selecione a Classe da Composição</option>
	                    
	                    <option th:each="cla : ${classes}" 
	                            th:value="${cla.codigo}" 
	                            th:text="${cla.nome}">SINAPI</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="tipoComposicao">Sub-Classe</label>
					<select id="tipoComposicao" class="form-control" th:field="*{tipoComposicao}">
	                    
	                    <option value="">Selecione a Classe da Composição</option>
	                    
	                    <option th:each="tipo : ${TipoComposicoes}" 
	                            th:value="${tipo.codigo}" 
	                            th:text="${tipo.nome}">SINAPI</option>
	                </select>
				</div>
			
				<div class="form-group  col-sm-3">
					<label for="baseInsumo">Base Insumos Padrão</label>
					<select id="baseInsumo" class="form-control" th:field="*{baseInsumo}">
	                    <option value="">Selecione a Base de Insumos</option>
	                    <option th:each="baseInsumo : ${baseInsumos}" 
	                            th:value="${baseInsumo.codigo}" 
	                            th:text="${baseInsumo.nome}">SINAPI</option>
	                </select>
	                
	       		</div>  
                <div class="form-group  col-sm-3">
					<label for="basePreco">Base Preços Padrão</label>
					<select id="basePreco" class="form-control" th:field="*{basePreco}">
	                   <option value="">Selecione a Base de Preços</option>
	                   <option th:each="basePreco : ${basePrecos}" 
	                           th:value="${basePreco.codigo}" 
	                           th:text="${basePreco.nome}">SINAPI</option>
                	</select>
				</div>
			</div>
				
			<div class="row">
				<div class="form-group  col-lg-12">
					<ul class="nav nav-tabs  js-abas-venda">
					  <li role="presentation" class="active"><a href="#itens">Itens e Coeficientes</a></li>
					  <li role="presentation"><a href="#historico">Histórico de Precos</a></li>
					</ul>
				</div>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane active" id="itens">

					<div class="row">
						<div class="form-group  col-lg-12">
							<input type="text" class="form-control  js-codigo-nome-composicao-input" id="composicao" 
								placeholder="Pesquise e adicione a composição pelo codigo ou nome" autofocus="autofocus" 
								data:url="@{/composicoes}"/>
						</div>
					</div>
					
					<div class="bw-tabela-composicoes  js-tabela-composicoes-container" data:valor="${valorTotalItens}">
					
						<th:block th:replace="composicao/TabelaItensComposicao"/>
					
					</div>
				</div>
				
				<div class="tab-pane" id="historico">
					<div class="row">
						<div class="form-group  col-sm-3" brewer:classforerror="dataEntrega">
						</div>
						
						<div class="form-group  col-sm-3">
						</div>
					</div>
					
					<div class="row">
						<div class="form-group  col-sm-12">
						</div>
					</div>
				</div>
			</div>
			
					
			<button class="btn  btn-primary" type="submit">Salvar</button>
			
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/venda.autocomplete-itens.js}"></script>
	<script th:src="@{/javascripts/venda.tabela-itens.js}"></script>
	<script th:src="@{/javascripts/venda.js}"></script>
	<script th:src="@{/javascripts/venda.botoes-submit.js}"></script>
	<script>
	$(function() {
		$('.js-abas-venda a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
</th:block>

 
</html>