<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de composicoes</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de composições</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/composicoes/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova composicao</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${composicaoFilter}" th:action="@{/composicoes}">
			<div class="row">
				<div class="form-group  col-sm-2">
					<label class="control-label" for="codigo">Código</label>
					<input type="text" class="form-control" id="codigo" autofocus="autofocus" th:field="*{codigo}"/>
				</div>
				
				<div class="form-group  col-sm-2">
					<label class="control-label" for="sku">SKU</label>
					<input type="text" class="form-control" id="sku"  th:field="*{sku}"/>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="classe">Classe</label>
					<select id="classe" class="form-control" th:field="*{classe}">
	                    <option value="">Todas Classes</option>
	                    <option th:each="classe : ${classes}" th:value="${classe.codigo}" th:text="${classe.descricao}">Hidraulica</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-2">
					<label for="status" class="control-label">Base Preços</label>
					<select id="status" class="form-control" th:field="*{base}">
	                    <option value="">Todos as bases</option>
	                    <option th:each="base : ${bases}" th:value="${base}" th:text="${base.descricao}"></option>
	                </select>
				</div>
				<div class="form-group  col-sm-2">
					<label for="estado">Estado</label>
					<select id="estado" class="form-control" th:field="*{estado}">
	                    <option value="">Todos</option>
	                    <option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">São Paulo</option>
	                </select>
				</div>
				
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<label class="control-label" for="descricao">Descrição</label>
					<input type="text" class="form-control" id="descricao" autofocus="autofocus" th:field="*{descricao}"/>
				</div>
			</div>>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>

		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
	            <thead>
	            	<tr>
	                	<th>Código</th>
	                	<th>
	                		<sinapiPRO:order page="${pagina}" field="sku" text="SKU"/>
	                	</th>
	                	<th>Preço</th>
	                	<th>Descricao</th>
	                	<th>Base</th>
	                	<th>UF</th>
	                	<th>Classe</th>
	                 	<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
	            <tbody>
					<tr th:each="composicao : ${pagina.conteudo}">
						<td th:text="${composicao.codigo}"></td>
						<td th:text="${composicao.sku}"></td>
						<td th:text="|R$ ${{composicao.valorTotal}}|"></td>
						<td th:text="${composicao.base.descricao}"></td>
						<td th:text="${composicao.estado.sigla}"></td>
						<td th:text="${composicao.classe.sigla}"></td>
	                 	<td class="text-center">
		   					<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
		   						th:href="@{/composicoes/{codigo}(codigo=${composicao.codigo})}">
		   						<i class="glyphicon glyphicon-pencil"></i>
		   					</a>
	                 	</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="7">Nenhuma composicao encontrada</td>
	                </tr>
	             </tbody>
	         </table>
		</div>
		
		<sinapiPRO:pagination page="${pagina}"/>
	</div>
</section>

</body>
</html>