<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de composicoes</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de composições</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/composicoes/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova composicao</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${composicaoFilter}" th:action="@{/composicoes}">
		
			<!-- pesquisar pelo codigo tambem -->
			<div class="row">
				<div class="form-group  col-sm-6">
					<label class="control-label" for="descricao">Código ou Descrição da composição</label>
					<input type="text" class="form-control" id="descricao" autofocus="autofocus" th:field="*{descricao}"/>
				</div>
			 
				<div class="form-group  col-sm-3">
					<label for="classe">Classe</label>
					<select id="classe" class="form-control" th:field="*{classe}">
	                    <option value="">Todas Classes</option>
	                    <option th:each="classe : ${classes}" th:value="${classe.codigo}" th:text="${classe.nome}">Hidraulica</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="tipoComposicao">Sub-Classe </label>
					<select id="tipoComposicao" class="form-control" th:field="*{tipoComposicao}">
	                    <option value="">Todos</option>
	                    <option th:each="tipoCompo : ${tipoComposicao}" 
	                    	       th:value="${tipoCompo.codigo}" 
	                    	       th:text="${tipoCompo.nome}">SINAPI</option>
	                </select>
				</div>
				
				
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>

		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
	            <thead>
	            	<tr>
	            		<th class="table-composicoes-col-classe">Classe</th>
	            		<th class="table-composicoes-col-subclasse">Sub-Classe</th>
	                	<th class="table-composicoes-col-codigo">
	                		<sinapiPRO:order page="${pagina}" field="codigo" text="Código"/>
	                	</th>
	                	<th class="table-composicoes-col-descricao">Descricao</th>
	                	<th class="table-composicoes-col-unidade">Unidade</th>
	                	<th class="table-composicoes-col-valor">Valor</th>
	                	<th class="table-composicoes-col-base">Base de Preço</th>
	                 	<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
	            <tbody>
					<tr th:each="composicao : ${pagina.conteudo}">
						<td class="text-center" th:text="${composicao.classe.sigla}"></td>
						<td class="text-left" th:text="${composicao.tipoComposicao.nome}"></td>
						<td class="text-center" th:text="${composicao.codigo}"></td>
						<td class="text-left"   th:text="${composicao.descricao}"></td>
						<td class="text-center" th:text="${composicao.unidade}"></td>
						<td class="text-right"  th:text="|R$ ${{composicao.custoTotal}}|"></td>
						
						<td class="text-center" th:text="${composicao.basePreco.nome}"></td>
						
						
	                 	<td class="text-center">
	                 	    
	                 	    <a class="btn  btn-link  btn-xs  js-tooltip" 
							   title="Preços" 
							   href="#" data-toggle="modal" data-target="#modalListaPrecos"> 
							   <i class="glyphicon glyphicon-stats"></i>
							</a>
							
		   					<a class="btn  btn-link  btn-xs  js-tooltip" title="Editar" 
		   						th:href="@{/composicoes/{codigo}(codigo=${composicao.codigo})}">
		   						<i class="glyphicon glyphicon-pencil"></i>
		   					</a>
	                 	</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td colspan="7">Nenhuma composicao encontrada</td>
	                </tr>
	             </tbody>
	         </table>
		</div>
		
		<sinapiPRO:pagination page="${pagina}"/>
	</div>
</section>

</body>
</html>