<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data">

<div class="table-responsive  sn-tabela-simples">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="table-item-composicao-col-codigo-item">Código</th>
		        <th class="table-item-compopsicao-col-descricao">Descrição</th>
		        <th class="table-item-composicao-col-unidade">Un</th>
		        <th class="table-item-composicao-col-coeficiente">Coeficiente</th>
		        <th class="text-right table-item-composicao-col-valor">Preço</th>
		        <th class="text-right table-item-composicao-col-valor">Total</th>
		        <th class="table-item-col-acoes"></th> 
			</tr>
		</thead>
		<tbody >
		<div th:switch="${item.tipo}">  
			
			<tr th:case="'INSUMO'"  
				<tr class="js-tabela-item" 
			 		th:each="item : ${itens}" 
			 		data:valor-total="${valorTotal}">
			
					<td class="text-center" th:text="${item.insumo.codigoInsumo}">98121</td>
					<td class="text-left"   th:text="${item.insumo.descricao}">CIMENTO CPII 32</td>
					<td class="text-center" th:text="${item.insumo.unidade}">KG</td>
					<td class="text-center"> 
						<input type="text" 
					           maxlength="3" 
						       class="js-tabela-insumo-coeficiente-item js-coeficiente text-right" 
						       th:value="${item.coeficiente}" 
						       data:codigo-insumo="${item.insumo.codigo}"/>
					</td> 	
					<td class="text-right js-decimal" th:text="|R$ ${#numbers.formatDecimal(item.insumo.precoPadrao, 0, 'POINT', 2, 'COMMA')}|">R$ 1,40</td>
					<td class="text-right js-decimal" th:text="|R$ ${#numbers.formatDecimal(item.valorTotal, 0, 'POINT', 2, 'COMMA')}|">R$ 2,80</td>	
			
					<td class="text-center">
						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn" 
						   title="Excluir" 
						   href="#" 
						   data:codigo-insumo="${item.insumo.codigo}">
						   <i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				</tr>	
			<tr/>
			<tr th:case="'COMPOSICAO'"  
				<tr class="js-tabela-item" 
			 		th:each="item : ${itens}" 
			 		data:valor-total="${valorTotal}">
			
					<td class="text-center" th:text="${item.composicao.codigoComposicao}">98121</td>
					<td class="text-left"   th:text="${item.composicao.descricao}">CIMENTO CPII 32</td>
					<td class="text-center" th:text="${item.composicao.unidade}">KG</td>
					<td class="text-center"> 
						<input type="number" 
					           maxlength="3" 
						       class="js-tabela-insumo-coeficiente-item" 
						       th:value="${item.coeficiente}" 
						       data:codigo-insumo="${item.composicao.codigo}"/>
					</td> 	
					<td class="text-right" th:text="|R$${item.composicao.custoTotal}">R$ 1,40</td>
					<td class="text-right" th:text="|R$${item.valorTotal}">R$ 1,40</td>	
			
					<td class="text-center">
						<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn" 
						   title="Excluir" 
						   href="#" 
						   data:codigo-insumo="${item.composicao.codigo}">
						   <i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				</tr>	
			<tr/>
		</div>
		
		<tr th:if="${itens.empty}">
			<td colspan="7">
			<i class="glyphicon  glyphicon-cubes"></i> 
			<span>Você ainda não adicionou nenhum insumo.</span>
		</tr>	
		</tbody>	
	</table>
</div>

</html>
