<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data">

<div class="table-responsive  sn-tabela-simples">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="table-item-composicao-col-codigo-item">Código</th>
		        <th class="table-item-compopsicao-col-descricao">Descrição</th>
		        <th class="table-item-composicao-col-unidade">Un</th>
		        <th class="table-item-composicao-col-coeficiente">Coeficiente</th>
		        <th class="table-item-composicao-col-valor">Preço</th>
		        <th class="table-item-composicao-col-valor">Total</th>
		        <th class="table-item-col-acoes"></th> 
			</tr>
		</thead>
		<tbody>
		<tr class="js-tabela-item" 
	 		th:each="item : ${itens}" 
	 		data:valor-total="${valorTotal}">

			<td class="text-center" th:text="${item.codigoItem}">98121</td>
			<td class="text-left"   th:text="${item.descricao}">CIMENTO CPII 32</td>
			<td class="text-center" th:text="${item.unidade}">KG</td>
			<td class="text-center"> 
				<input type="number" 
			           maxlength="3" 
				       class="js-tabela-insumo-coeficiente-item" 
				       th:value="${item.coeficiente}" 
				       data:codigo-insumo="${item.compo ? item.composicao.codigo : item.insumo.codigo}"/>
			</td> 	
			<td class="text-right" th:text="|R$${item.precoUnitario}">R$ 1,40</td>
			<td class="text-right" th:text="|R$${item.valorTotal}">R$ 1,40</td>	

			<td class="text-center">
				<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-item-btn" 
				   title="Excluir" 
				   href="#" 
				   data:codigo-insumo="${item.compo ? item.composicao.codigo : item.insumo.codigo}}">
				   <i class="glyphicon glyphicon-remove"></i>
				</a>
			</td>
		</tr>	
		<tr th:if="${itens.empty}">
			<td colspan="7">
			<i class="glyphicon  glyphicon-cubes"></i> 
			<span>Você ainda não adicionou nenhum insumo.</span>
		</tr>	
		</tbody>	
	</table>
</div>

</html>
