<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<div class="sn-tabela-item  js-tabela-item" 

     th:each="item : ${itens}" data:valor-total="${valorTotal}">

	<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--detalhes">
	
		<span class="label label-default"      th:text="${item.codigoItem}">45623</span>
		<span class="sn-tabela-item-descricao" th:text="${item.descricaoItem}">Pedreiro</span> 
		<span class="sn-tabela-item-unidade"   th:text="${item.unidade}">KG</span>
		
	</div>

	<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--valores">
		<div class="sn-tabela-item-valor-pequeno">
		
			<input type="text" maxlength="3"
				class="sn-tabela-item-campo-coeficiente  js-tabela-item-coeficiente"
				th:value="${item.coeficiente}"
				data:codigo-insumo="${item.codigoItem}"/> 
				<span>x	R$[[${{item.precoUnitario}}]]</span>
		</div>
		<div class="sn-tabela-item-valor-medio">R$[[${{item.valorTotal}}]]</div>
	</div>
	<div class="sn-tabela-item__painel-exclusao">
		<span class="sn-tabela-item__titulo-exclusao">Excluir este item	da venda?</span>
		<button type="button" 
		        class="btn  btn-danger  js-exclusao-item-btn"
				data:codigo-insumo="${item.codigoItem}">Sim, excluir!</button>
	</div>
</div>
<div class="sn-tabela-insumo__vazio" th:if="${itens.empty}">
	<i class="glyphicon  glyphicon-shopping-cart"></i> 
	<span>Você ainda não adicionou nenhum insumo.</span>
</div>
</html>