		<div class="tab-content">
			
				<div class="tab-pane active" id="itens-composicao">
					<div class="row">
						<div class="form-group  col-lg-12">
						
							<input type="text" 
							       class="form-control  js-codigo-descricao-composicao-input" 
							       id="composicao" 
								   placeholder="Pesquise e adicione a composição pelo codigo ou nome" 
								   autofocus="autofocus" 
								   data:url="@{/composicoes}"/>
						</div>
					</div>
					
					<div class="sn-tabela-composicoes  js-tabela-composicoes-container" 
					     data:valor="${valorTotalItens}">
					
						<th:block th:replace="composicao/TabelaItensComposicao"/>
					
					</div>
				</div>
				
				<div class="tab-pane" id="historico">
				
					<div class="row">
						<div class="form-group  col-sm-3">
								HISTÓRICO PREÇOS
						</div>
						
						<div class="form-group  col-sm-3">
						
						</div>
					</div>
				 
				</div>
		</div>
	 
			
			<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/jquery.easy-autocomplete.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/composicao.autocomplete-itens.js}"></script>
	<script th:src="@{/javascripts/composicao.tabela-itens.js}"></script>
	<script th:src="@{/javascripts/composicao.js}"></script>
	<script th:src="@{/javascripts/composicao.botoes-submit.js}"></script>
	<script>
	$(function() {
		$('.js-abas-composicao a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
	});
	</script>
</th:block>





<!--  
			<div class="form-group">
			
				<div class="tab-pane active" id="itens-composicao">
					 
					<div class="table-responsive  sn-tabela-simples">
						<table class="table  table-hover">
				            <thead>
				            	<tr>
				            		<th class="table-item-composicao-col-tipo">Tipo</th>
				                	<th class="table-item-composicao-col-codigo-item">Código</th>
				                	<th class="table-item-composicao-col-descricao">Descricao</th>
				                	<th class="table-item-composicao-col-unidade">Unidade</th>
				                	<th class="table-item-composicao-col-coeficiente">Coeficiente</th>
				                	<th class="table-item-composicao-col-valor">Vl.Unitário</th>
				                 	<th class="table-col-acoes"></th>
								</tr>
							</thead>
							
				            <tbody>
								<tr th:each="it : ${itens}">
									<td class="text-center" th:text="${it.tipo}"></td>
									<td class="text-center" th:text="${it.codigoItem}"></td>
									<td class="text-left" th:text="${it.descricao}"></td>
									<td class="text-center" th:text="${it.unidade}"></td>
									<td class="text-center" th:text="|${{it.coeficiente}}|"></td>
									<td class="text-center" th:text="|R$ ${{it.precoUnitario}}|"></td>
									
				                 	<td class="text-center">
				                 	    <a class="btn  btn-link  btn-xs  js-tooltip" 
										   title="Preços" 
										   href="#" data-toggle="modal" data-target="#modalListaPrecos"> 
										   <i class="glyphicon glyphicon-stats"></i>
										</a>
					   				
				                 	</td>
				                </tr>
				             </tbody>
			         	</table>
					</div>
					
					
				</div>
				
				 
			</div>
			
			
			<div class="sn-tabela-item">
			<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--detalhes">
				<span class="sn-tabela-item-nome">{{descricao}}</span>
				<span class="label label-default">{{codigo}}</span>
				<span class="sn-tabela-item-unidade">{{unidade}}</span>
			</div>
			<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--valores">
				<div class="sn-tabela-item-valor-medio">R${{valorFormatado}}</div>
			</div>
			</div>
					
			-->			


			
			
			
			
			