<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/LayoutPadrao}"
	  xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br"
	  xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de obras</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de obras</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/obras/nova}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova obra</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${obraFilter}">
			<div class="row">
				<div class="form-group  col-sm-8">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="cei" class="control-label">CEI</label>
					<input type="text" class="form-control" id="cei" th:field="*{cei}"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Pesquisar</button>
		</form>
		
		<div class="table-responsive  sn-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="text-left table-obra-col-cei">Obra</th> 
						<th class="text-center table-obra-col-cei">CEI</th>
						<th class="text-left table-obra-col-cidade-estado">Cidade/Estado</th>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="obra : ${pagina.conteudo}">
						<td class="text-left"   th:text="${obra.nome}"></td>
						<td class="text-center" th:text="${obra.cei}">111.111.111-11</td>
						<td class="text-left"  th:text="${obra.endereco.nomeCidadeSiglaEstado}"></td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs js-tooltip" title="Editar"
							   th:href="@{/obras/{codigo}(codigo=${obra.codigo})}"> 
							<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs  js-tooltip  js-exclusao-btn" title="Excluir" href="#"
								data:url="@{/obras/{codigo}(codigo=${obra.codigo})}" data:objeto="${obra.nome}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="5">Nenhuma obra encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<sinapiPRO:pagination page="${pagina}"/>
		
	</div>
</section>
</body>
</html>