<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Conta Bancária</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-sm-10"><h1 th:if="${contaBancaria.novo}">Nova Conta Bancária</h1><h1 th:unless="${contaBancaria.novo}" th:text="|${contaBancaria.banco} - ${contaBancaria.conta}|">Conta</h1></div>
	<div class="col-sm-2"><a class="btn btn-default" th:href="@{/contasBancarias}"><i class="glyphicon glyphicon-arrow-left"></i></a></div>
</div></div></div>
<div class="container-fluid">
<form method="POST" th:object="${contaBancaria}" th:action="${contaBancaria.novo} ? @{/contasBancarias/novo} : @{/contasBancarias/{c}(c=${contaBancaria.codigo})}">
	<sinapiPRO:message/><input type="hidden" th:field="*{codigo}"/>
	<div class="row">
		<div class="form-group col-sm-4 sn-required"><label class="control-label">Banco</label><input type="text" class="form-control" th:field="*{banco}"/></div>
		<div class="form-group col-sm-2"><label class="control-label">Agência</label><input type="text" class="form-control" th:field="*{agencia}"/></div>
		<div class="form-group col-sm-3 sn-required"><label class="control-label">Conta</label><input type="text" class="form-control" th:field="*{conta}"/></div>
		<div class="form-group col-sm-3"><label class="control-label">Descrição</label><input type="text" class="form-control" th:field="*{descricao}"/></div>
	</div>
	<div class="row">
		<div class="form-group col-sm-2"><label class="control-label">Saldo Inicial</label><input type="number" step="0.01" class="form-control" th:field="*{saldoInicial}"/></div>
		<div class="form-group col-sm-2"><label class="control-label">Saldo Atual</label><input type="number" step="0.01" class="form-control" th:field="*{saldoAtual}"/></div>
		<div class="form-group col-sm-2"><label class="checkbox-inline" style="margin-top:30px;"><input type="checkbox" th:field="*{ativa}"/> Ativa</label></div>
	</div>
	<button class="btn btn-primary" type="submit">Salvar</button>
</form></div>
</section></body></html>
