<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/LayoutPadrao}">
<head><title>Troca de Senha</title></head>
<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid"><h1>Troca de Senha Obrigatória</h1></div>
	</div>
	<div class="container-fluid">
		<div th:if="${mensagemErro}" class="alert alert-danger" th:text="${mensagemErro}"></div>
		<div th:if="${mensagem}" class="alert alert-success" th:text="${mensagem}"></div>
		<form method="post" th:action="@{/trocarSenha}">
			<div class="form-group">
				<label for="novaSenha">Nova Senha</label>
				<input type="password" class="form-control" id="novaSenha" name="novaSenha" required="required"/>
			</div>
			<div class="form-group">
				<label for="confirmacao">Confirmação</label>
				<input type="password" class="form-control" id="confirmacao" name="confirmacao" required="required"/>
			</div>
			<button type="submit" class="btn btn-primary">Alterar Senha</button>
		</form>
	</div>
</section>
</body>
</html>
