/*
######################
# UTILIDADES
######################
*/
.sn-glyphicon-large { font-size: 18px; }
.sn-required > .control-label:after { content: "*"; }

/*
######################
# COMPONENTES
######################
*/

/* Field Action */
.sn-field-action { display: flex; }

.sn-field-action__icon { margin: 6px 0 0 5px; }

.sn-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    font-size: 500px;
}

/* Tabela Simples */
.sn-tabela-simples { margin-top: 15px; }

.sn-tabela-simples table tr th { border-bottom-width: 1px; }

.sn-tabela-simples table tr td { 
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
####################
# PÁGINAS DO SISTEMA
####################
*/

/* Colunas comuns */
.table-col-codigo      {width: 40px; text-align: center;}
.table-col-descricao   {width: 500px; text-align: left;}
.table-col-tipo        {width: 30px; text-align: center;}
.table-col-unidade     {width: 40px; text-align: center;}
.table-col-coeficiente {width: 40px; text-align: center;}
.table-col-valor       {width: 40px; text-align: center;} 
.table-col-acoes       {width: 100px;}

.table-col-800px       {width: 800px; text-align: left;}

/* Colunas - Pesquisa de Insumos */
.table-insumos-col-foto      {min-width: 50px; width: 50px}
.table-insumos-col-codigo    {width: 40px; text-align: center;}
.table-insumos-col-unidade   {width: 50px; text-align: center;}
.table-insumos-col-preco     {width: 100px; text-align: right;}
.table-insumos-col-descricao {width: 500px; text-align: center}
.table-insumos-col-acoes     {width: 120px;}

/* Colunas - Pesquisa de Composições */
.table-composicoes-col-classe    {width: 40px; width: 50px}
.table-composicoes-col-codigo    {width: 40px; text-align: center;}
.table-composicoes-col-unidade   {width: 40px; text-align: center;}
.table-composicoes-col-valor     {width: 100px; text-align: right;}
.table-composicoes-col-descricao {width: 400px; text-align: center}
.table-composicoes-col-base      {width: 150px; text-align: center}
.table-composicoes-col-tipo      {width: 100px; text-align: center}

/* Colunas - Itens da Composição */ 
.table-item-composicao-col-tipo        {width: 30px; text-align: center;}
.table-item-composicao-col-codigo-item {width: 40px; text-align: center;}
.table-item-composicao-col-descricao   {width: 300px; text-align:left;}
.table-item-composicao-col-unidade     {width: 40px; text-align: center;}
.table-item-composicao-col-coeficiente {width: 10px; text-align: center;}
.table-item-composicao-col-valor       {width: 40px; text-align: center;} 

/* Colunas - Itens da Orçamento */ 
.table-orcamento-col-codigo   {width: 40px; text-align: center;}
.table-orcamento-col-data     {width: 50px; text-align: center;}
.table-orcamento-col-obra     {width: 200px; text-align:center;}
.table-orcamento-col-situacao {width: 50px; text-align: center;}



/* Colunas - Itens da Orçamento */ 
.table-item-itemizacao    {width: 40px; text-align: center;}
.table-item-tipo          {width: 20px; text-align: center;}
.table-item-codigo        {width: 50px; text-align:center;}
.table-item-descricao     {width: 500px; text-align: left;}
.table-item-unidade       {width: 50px; text-align: center;}
.table-item-quantidade    {width: 100px;  text-align: center;}
.table-item-custoUnitario {width: 50px; text-align: center;}
.table-item-custoTotal    {width: 50px; text-align: center;}

/* Colunas - Itens da Orçamento Atual*/ 
.table-orca-col-codigo    {width: 20px; text-align: center;}
.table-orca-col-tipo      {width: 10px; text-align: center;}
.table-orca-col-sinapi    {width: 50px; text-align: center;}
.table-orca-col-descricao {width: 300px; text-align:center;}
.table-orca-col-unidade   {width: 30px; text-align: center;}
.table-orca-col-valor     {width: 100px; text-align: center;}


/* Colunas - Pesquisa de Precos */
.table-precos-col-codigo {
	width: 80px;
}

/* Colunas - Pesquisa de Clientes */
.table-clientes-col-nome {
}

.spacer {
     padding-bottom: 10px;
 }
 
.table-clientes-col-tipo-pessoa   {width: 120px; text-align: center; }
.table-clientes-col-cpf-cnpj      {width: 140px; text-align: right; }
.table-clientes-col-telefone      {width: 140px; text-align: right; }
.table-clientes-col-cidade-estado {width: 140px; text-align: right;}

/* Colunas - Pesquisa de cidades */
.table-cidades-col-nome {}
.table-cidades-col-estado {width: 140px; text-align: right;}

/* Colunas - Pesquisa de usuários */
.table-usuarios-col-status {width: 30px; text-align: center;
}

/* Tabela Composicoes página de Orçamentos */
.sn-tabela-composicoes {
	margin-bottom: 15px;
}

.sn-tabela-composicoes__vazio {
	padding: 15px 15px;
	border: 1px dashed #ddd;
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}

/* Tabela Composicoes página de Composições */
.sn-tabela-insumos {
	margin-bottom: 15px;
}

.sn-tabela-insumos__vazio {
	padding: 15px 15px;
	border: 1px dashed #ddd;
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}


/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.auto-codigo {width: 20px; text-align:center;}
.auto-nome   {width: 40px; text-align: left;}
 
.easy-autocomplete{
  width:100% !important
}

.form-wrapper{
  width: 500px;
}

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}

 
.easy-autocomplete input {
	border-radius: 2px !important;
	width: 100%;
}

.easy-autocomplete-container ul li {
	font-size: 1em !important;
	padding: 0px 5px !important;
	list-style: none;
}

 
.negativo .sn-box__value {
	color: red;
}
 
/* Tabela Item */
.sn-tabela-item {
	position: relative; /* Para que o painel de exclusão apareça dentro da linha */
	padding: 15px 0;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.sn-tabela-item:after {	clear: both; display: block;  content: ""; }
.sn-tabela-item ~ .sn-tabela-item {	border-top: 1px solid #ddd;}
.sn-tabela-item__coluna {padding: 0 10px;}
.sn-tabela-item__coluna--foto {float: left; width: 60px; text-align: center; }
.sn-tabela-item__coluna--valores {padding-right: 0px;}
.sn-tabela-item__coluna--detalhes  {margin-left: 10px;}
.sn-tabela-item__coluna--valores {margin-left: 60px;}
.sn-tabela-item-descricao {font-weight: 500; font-size: 1.1em; display: block; }
.sn-tabela-item-unidade { font-weight: 500; font-size: 1.1em; display: block}
.sn-tabela-item-campo-coeficiente {width: 30px; text-align: right;}
.sn-tabela-item-valor-pequeno {font-weight: 300; font-size: 1em; }
.sn-tabela-item-valor-medio {font-weight: 300; font-size: 1.3em;}
.sn-tabela-item-valor-grande {font-weight: 300; font-size: 1.6em;}
.sn-tabela-item__painel-exclusao {position: absolute; top: 0; right: 100000px; height: 100%; width: 50%; text-align: center;  padding-top: 35px; background-color: #f0ad4e;
	opacity: 0;
	transition: opacity 0.5s;
}

.solicitando-exclusao .sn-tabela-item__painel-exclusao { right: 0; opacity: 1;}

.sn-tabela-item__titulo-exclusao {
    display: block;
    margin-bottom: 5px;
    
	color: #fff;
    font-size: 1.3em;
}


.sn-etapa {background-color: #f0ad4e;}
.sn-insumo {}
.sn-composicao {}


@media (min-width: 768px) { /* screen-sm-min */
	.sn-tabela-item__painel-exclusao {
		width: 40%;
		padding-top: 10px;
	}
	
	.sn-tabela-item__coluna {
		float: left;
		margin-left: 0px;
	}
	
	.sn-tabela-item__coluna--detalhes {
		width: calc(70% - 30px);
	}
	
	.sn-tabela-item__coluna--valores {
		width: calc(30% - 30px);

		text-align: right;
	}
}
