<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Cadastro de Endereço do Cliente</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-sm-10"><h1 th:if="${clienteEndereco.novo}">Novo Endereço</h1><h1 th:unless="${clienteEndereco.novo}">Editar Endereço</h1></div>
	<div class="col-sm-2"><a class="btn btn-default" th:href="@{/clientesEndereco/cliente/{c}(c=${codigoCliente})}"><i class="glyphicon glyphicon-arrow-left"></i></a></div>
</div></div></div>
<div class="container-fluid">
<form method="POST" th:object="${clienteEndereco}" th:action="${clienteEndereco.novo} ? @{/clientesEndereco/novo/{c}(c=${codigoCliente})} : @{/clientesEndereco/{c}(c=${clienteEndereco.codigo})}">
	<sinapiPRO:message/><input type="hidden" th:field="*{codigo}"/>
	<input type="hidden" th:field="*{cliente.codigo}"/>
	<div class="row">
		<div class="form-group col-sm-3"><label class="control-label">Tipo</label>
			<select class="form-control" th:field="*{tipo}">
				<option value="">Selecione...</option>
				<option value="RESIDENCIAL">Residencial</option>
				<option value="COMERCIAL">Comercial</option>
				<option value="COBRANCA">Cobrança</option>
			</select>
		</div>
		<div class="form-group col-sm-6"><label class="control-label">Logradouro</label><input type="text" class="form-control" th:field="*{logradouro}" /></div>
		<div class="form-group col-sm-2"><label class="control-label">Número</label><input type="text" class="form-control" th:field="*{numero}" /></div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4"><label class="control-label">Complemento</label><input type="text" class="form-control" th:field="*{complemento}" /></div>
		<div class="form-group col-sm-3"><label class="control-label">Bairro</label><input type="text" class="form-control" th:field="*{bairro}" /></div>
		<div class="form-group col-sm-2"><label class="control-label">CEP</label><input type="text" class="form-control" th:field="*{cep}" /></div>
		<div class="form-group col-sm-3"><label class="control-label">Cidade</label><input type="text" class="form-control" th:field="*{cidade}" /></div>
		<div class="form-group col-sm-1"><label class="control-label">UF</label><input type="text" class="form-control" th:field="*{estado}" maxlength="2" /></div>
	</div>
	<button class="btn btn-primary" type="submit">Salvar</button>
</form></div>
</section></body></html>
