<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Endereços do Cliente</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-xs-10"><h1>Endereços do Cliente</h1></div>
	<div class="col-xs-2"><a class="btn btn-success" th:href="@{/clientesEndereco/novo/{c}(c=${codigoCliente})}"><i class="glyphicon glyphicon-plus-sign"></i> Novo</a></div>
</div></div></div>
<div class="container-fluid">
<table class="table table-hover table-bordered">
	<thead><tr><th>Tipo</th><th>Logradouro</th><th>Número</th><th>Bairro</th><th>Cidade/UF</th><th class="table-col-acoes"></th></tr></thead>
	<tbody>
		<tr th:each="e : ${enderecos}">
			<td th:text="${e.tipo}"></td><td th:text="${e.logradouro}"></td><td th:text="${e.numero}"></td>
			<td th:text="${e.bairro}"></td><td th:text="${e.cidade + '/' + e.estado}"></td>
			<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/clientesEndereco/{c}(c=${e.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
		</tr>
		<tr th:if="${enderecos.isEmpty()}"><td colspan="6">Nenhum endereço cadastrado</td></tr>
	</tbody>
</table>
</div></section></body></html>
