<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Pesquisa de DiarioAcidentes</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-xs-10"><h1>Pesquisa de DiarioAcidentes</h1></div>
	<div class="col-xs-2"><a class="btn btn-default" th:href="@{/diarioAcidentes/novo}"><i class="glyphicon glyphicon-plus-sign"></i></a></div>
</div></div></div>
<div class="container-fluid">
<table class="table table-hover table-bordered">
	<thead><tr><th>Código</th><th>Nome</th><th class="table-col-acoes"></th></tr></thead>
	<tbody>
		<tr th:each="item : ${lista}">
			<td th:text="${item.codigo}"></td><td th:text="${item.nome}"></td>
			<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/diarioAcidentes/{c}(c=${item.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
		</tr>
		<tr th:if="${lista.isEmpty()}"><td colspan="3">Nenhum registro encontrado</td></tr>
	</tbody>
</table>
</div></section></body></html>
