<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item" sinapiPRO:menu="@{/}">
          			<a th:href="@{/}"><i class="fa  fa-1x  fa-tachometer-alt"></i><span>Dashboard</span></a>
        		</li>
        		
        		<li class="aw-menu__item" sinapiPRO:menu="@{/obras.*}">
          			<a th:href="@{/atual}">
          				<i class="fa  fa-1x  fa-list"></i><span>Orcamento Atual</span>
            			<i class="aw-menu__navigation-icon  fa"></i>	
          			</a>
          			
        		</li>
        		<li class="aw-menu__item">
          			<a href="#">
          				<i class="fa  fa-1x  fa-table"></i><span>Orçamentos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>	
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
          				<li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/orcamentos.novo*}">
			            	<a th:href="@{/orcamentos/novo}">Cadastrar Orçamento</a>
			            </li>
          				<li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/orcamentos.*}">
			            	<a th:href="@{/orcamentos}">Pesquisar Orçamentos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/orcamentos.comparativo*}">
			            	<a th:href="@{/orcamentos/comparativo}">Comparativo Venda × Execução</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/planejamento*}">
			            	<a th:href="@{/planejamento/0}">Planejamento Físico-Financeiro</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/planejamento*}">
			            	<a th:href="@{/planejamento/0/gantt}">Cronograma Gantt</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/reajuste*}">
			            	<a th:href="@{/reajuste/0}">Reajuste de Preços</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/baseline*}">
			            	<a th:href="@{/baseline/0}">Baseline</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/digitacaoRapida*}">
			            	<a th:href="@{/digitacaoRapida/0}">Digitação Rápida</a>
			            </li>
          			</ul>
        		</li>
        		
        		<li class="aw-menu__item" sinapiPRO:menu="@{/obras.*}">
          			<a th:href="@{/obras}">
          				<i class="fa  fa-1x  fa-home"></i><span>Obras</span>
            			<i class="aw-menu__navigation-icon  fa"></i>	
          			</a>
          			
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
          				<i class="fa  fa-1x  fa-money"></i><span>Financeiro</span>
            			<i class="aw-menu__navigation-icon  fa"></i>	
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
          				<li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/planoContas.*}">
			            	<a th:href="@{/planoContas}">Plano de Contas</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/contasBancarias.*}">
			            	<a th:href="@{/contasBancarias}">Contas Bancárias</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/historicosBancarios.*}">
			            	<a th:href="@{/historicosBancarios}">Históricos Bancários</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/despesas.*}">
			            	<a th:href="@{/despesas}">Contas a Pagar</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/receitas.*}">
			            	<a th:href="@{/receitas}">Contas a Receber</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/movimentosBancarios.*}">
			            	<a th:href="@{/movimentosBancarios}">Movimento Bancário</a>
			            </li>
          			</ul>
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
          				<i class="fa  fa-1x  fa-shopping-cart"></i><span>Suprimentos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>	
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
          				<li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/cotacoes.*}">
			            	<a th:href="@{/cotacoes}">Cotações</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/pedidosCompra.*}">
			            	<a th:href="@{/pedidosCompra}">Pedidos de Compra</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/estoque.*}">
			            	<a th:href="@{/estoque}">Estoque</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/equipamentos.*}">
			            	<a th:href="@{/equipamentos}">Equipamentos</a>
			            </li>
          			</ul>
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
          				<i class="fa  fa-1x  fa-file-text-o"></i><span>Contratos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>	
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
          				<li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/contratos.*}">
			            	<a th:href="@{/contratos}">Contratos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/requisicoes.*}">
			            	<a th:href="@{/requisicoes}">Requisições de Insumos</a>
			            </li>
          			</ul>
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
          				<i class="fa  fa-1x  fa-book"></i><span>Diário de Obra</span>
            			<i class="aw-menu__navigation-icon  fa"></i>	
          			</a>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
          				<li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/diarioObra.*}">
			            	<a th:href="@{/diarioObra}">Diários</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/diarioClimas.*}">
			            	<a th:href="@{/diarioClimas}">Climas</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/diarioAreas.*}">
			            	<a th:href="@{/diarioAreas}">Áreas</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/diarioAcidentes.*}">
			            	<a th:href="@{/diarioAcidentes}">Acidentes</a>
			            </li>
          			</ul>
        		</li>
       		      		
        		<li class="aw-menu__item" sinapiPRO:menu="@{/insumos.*}">
          			<a th:href="@{/insumos}">
            			<i class="fa  fa-1x  fa-cube"></i><span>Insumos</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
        		</li>
        		
        		<li class="aw-menu__item" sinapiPRO:menu="@{/composicoes.*}">
          			<a th:href="@{/composicoes}">
            			<i class="fa  fa-1x  fa-cubes"></i><span>Composições</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
          			
        		</li>
        		
        		<li class="aw-menu__item" sinapiPRO:menu="@{/etapas.*}">
          			<a th:href="@{/etapas}">
            			<i class="fa  fa-1x  fa-bars"></i><span> Etapas</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
          			
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-1x  fa-database"></i><span>Cadastros</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
          				<li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/baseInsumos.*}">
			            	<a th:href="@{/baseInsumos}">Base de Insumos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/basePrecos.*}">
			            	<a th:href="@{/basePrecos}">Base de Preços</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/cidades.*}">
			            	<a th:href="@{/cidades}">Cidades</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/estados.*}">
			            	<a th:href="@{/estados}">Estados</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/composicaoClasse.*}">
			            	<a th:href="@{/composicaoClasses}">Classes</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/clientes.*}">
			            	<a th:href="@{/clientes}">Clientes</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/fornecedores.*}">
			            	<a th:href="@{/fornecedores}">Fornecedores</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/tiposCusto.*}">
			            	<a th:href="@{/tiposCusto}">Tipos de Custo</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/tributos.*}">
			            	<a th:href="@{/tributos}">Tributos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/tiposUnidade.*}">
			            	<a th:href="@{/tiposUnidade}">Tipos de Unidade</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/unidadesMedida.*}">
			            	<a th:href="@{/unidadesMedida}">Unidades de Medida</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/divisoesInsumo.*}">
			            	<a th:href="@{/divisoesInsumo}">Divisões de Insumo</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/subDivisoesInsumo.*}">
			            	<a th:href="@{/subDivisoesInsumo}">Sub-Divisões de Insumo</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/indices.*}">
			            	<a th:href="@{/indices}">Índices</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/formasPagamento.*}">
			            	<a th:href="@{/formasPagamento}">Formas de Pagamento</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/tiposObra.*}">
			            	<a th:href="@{/tiposObra}">Tipos de Obra</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/especiesInsumo.*}">
			            	<a th:href="@{/especiesInsumo}">Espécies de Insumo</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/tiposUsuario.*}">
			            	<a th:href="@{/tiposUsuario}">Tipos de Usuário</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/empresas.*}">
			            	<a th:href="@{/empresas}">Empresas</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/departamentos.*}">
			            	<a th:href="@{/departamentos}">Departamentos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/cargos.*}">
			            	<a th:href="@{/cargos}">Cargos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/funcoes.*}">
			            	<a th:href="@{/funcoes}">Funções</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/funcionarios.*}">
			            	<a th:href="@{/funcionarios}">Funcionários</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/usuarios.*}">
			            	<a th:href="@{/usuarios}">Usuários</a>
			            </li>
          			</ul>
        		</li>	
        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-1x  fa-file-pdf-o"></i><span>Relatórios</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/listaInsumos}">Lista de Insumos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/listaComposicoes}">Lista de Composições</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/orcamentosEmitidos}">Orçamentos Emitidos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/orcamentoAnalitico/0}">Orçamento Analítico</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/globalMaterialMO/0}">Global Material + MO</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/servicosOrcamento/0}">Serviços do Orçamento</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/curvaS/0}">Curva S</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" sinapiPRO:menu="@{/relatorios.*}">
			            	<a th:href="@{/relatorios/planejamentoFisico/0}">Planejamento Físico</a>
			            </li>
          			</ul>
        		</li>
        		
      		</ul>
    	</nav>
	</div>
	
</aside>
</body>
</html>