<script id="template-autocomplete-composicao" type="text/x-handlebars-template">
	<div class="sn-tabela-item">
	    
		<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--unidade">
			 	<span>{{unidade}}</span>
		</div>
	 
		<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--detalhes">
			<span>{{descricao}}</span>
		</div>

		<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--valores">
			 	
		</div>
		
		<div class="sn-tabela-item__coluna  sn-tabela-item__coluna--valores">
			<span  class="label  label-default">{{codigo}}</span>
			<div class="sn-tabela-item-valor-medio">R${{valorFormatado}}</div>
		</div>

	</div>
</script>