<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Contas a Pagar</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-sm-8"><h1>Contas a Pagar</h1></div>
	<div class="col-sm-4 text-right" style="margin-top:20px;">
		<a class="btn btn-default" th:href="@{/despesas(todas=!${todas})}" th:text="${todas} ? 'Ver Abertas' : 'Ver Todas'"></a>
		<a class="btn btn-success" th:href="@{/despesas/novo}"><i class="glyphicon glyphicon-plus"></i> Nova</a>
	</div>
</div></div></div>
<div class="container-fluid">
<table class="table table-hover table-bordered">
	<thead><tr><th>Descrição</th><th>Fornecedor</th><th>Vencimento</th><th class="text-right">Valor</th><th>Situação</th><th class="table-col-acoes"></th></tr></thead>
	<tbody>
		<tr th:each="d : ${despesas}"
			th:classappend="${d.situacao == 'ABERTA' and d.dataVencimento.isBefore(T(java.time.LocalDate).now())} ? 'danger' : ''">
			<td th:text="${d.descricao}"></td>
			<td th:text="${d.fornecedor != null} ? ${d.fornecedor.nome} : ''"></td>
			<td th:text="${#temporals.format(d.dataVencimento,'dd/MM/yyyy')}"></td>
			<td class="text-right" th:text="${#numbers.formatDecimal(d.valor,1,2)}"></td>
			<td><span class="label" th:classappend="${d.situacao == 'PAGA'} ? 'label-success' : (${d.situacao == 'PARCIAL'} ? 'label-warning' : 'label-danger')" th:text="${d.situacao}"></span></td>
			<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/despesas/{c}(c=${d.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
		</tr>
		<tr th:if="${despesas.isEmpty()}"><td colspan="6">Nenhuma despesa encontrada</td></tr>
	</tbody>
</table>
</div>
</section></body></html>
