<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/LayoutPadrao}">
<head><title>Cronograma Gantt</title></head>
<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6"><h1>Cronograma Gantt</h1></div>
				<div class="col-sm-6 text-right" style="margin-top:20px;">
					<a class="btn btn-default" th:href="@{/planejamento/{id}(id=${orcamento.codigo})}">
						<i class="glyphicon glyphicon-arrow-left"></i> Voltar
					</a>
					<a class="btn btn-info" th:href="@{/relatorios/curvaS/{id}(id=${orcamento.codigo})}">
						<i class="glyphicon glyphicon-print"></i> Curva S
					</a>
					<a class="btn btn-info" th:href="@{/relatorios/planejamentoFisico/{id}(id=${orcamento.codigo})}">
						<i class="glyphicon glyphicon-print"></i> Plan. Físico
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<h3 th:text="${orcamento.nome}">Orçamento</h3>
		<div th:if="${meses.isEmpty()}" class="alert alert-warning">
			Nenhum item planejado. <a th:href="@{/planejamento/{id}(id=${orcamento.codigo})}">Defina as datas primeiro</a>.
		</div>
		<div th:unless="${meses.isEmpty()}" class="table-responsive">
			<table class="table table-bordered table-condensed" style="font-size:11px;">
				<thead>
					<tr class="active">
						<th style="min-width:200px;">Item</th>
						<th th:each="m : ${meses}" class="text-center" style="min-width:60px;" th:text="${m}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="linha : ${linhas}">
						<td th:text="${linha.descricao}" style="white-space:nowrap;"></td>
						<td th:each="m : ${meses}" class="text-center"
							th:style="${linha.mesesAtivos.contains(m)} ? 'background-color:#337ab7;' : ''">
							<span th:if="${linha.mesesAtivos.contains(m)}" style="color:#fff;font-size:9px;">&#9679;</span>
						</td>
					</tr>
					<tr class="active" style="font-weight:bold;">
						<td>Total Planejado</td>
						<td th:each="m : ${meses}" class="text-right" style="font-size:10px;"
							th:text="${totaisPorMes.get(m) != null} ? ${#numbers.formatDecimal(totaisPorMes.get(m), 1, 0)} : ''">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
</body>
</html>
