<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data"
	  xmlns:sinapiPRO="http://sinapiPRO.ifrn.edu.br"
	  layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Dashboard</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>Dashboard</h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-list  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalOrcamentos}">123</div>
					<div class="aw-box__title">Orçamentos</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-cube  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalInsumosSinapi}">123</div>
					<div class="aw-box__title">Insumos SINAPI</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-cubes  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalComposicoesSinapi}">9</div>
					<div class="aw-box__title">Composições SINAPI</div>
				</div>
			</div>
			
			 
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-building  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalOrcamentos}">123</div>
					<div class="aw-box__title">Obras</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-cube  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalInsumosPropria}">123</div>
					<div class="aw-box__title">Insumos PRÓPRIA</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-cubes  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalComposicoesPropria}">9</div>
					<div class="aw-box__title">Composições PRÓPRIA</div>
				</div>
			</div>
			
			 
		</div>
		
		
		
		<div class="row">
			
			
		</div>
	     <!--  
		<div class="row">
			<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title">Orçamentos por mês <small>últimos 6 meses</small></h2>
					</div>
					<div class="aw-graph-box__content">
						<div>
							<canvas id="graficoOrcamentosPorMes" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="aw-graph-box">
					<div class="aw-graph-box__header">
						<h2 class="aw-graph-box__title">Orçamentos por Status <small>últimos 6 meses</small></h2>
					</div>
					<div class="aw-graph-box__content">
						<div>
							<canvas id="graficoOrcamentosPorBase" height="160"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		-->
	</div>

	<!-- Métricas operacionais -->
	<div class="container-fluid" style="margin-top:20px;">
		<h3>Situação Operacional</h3>
		<div class="row">
			<!-- Financeiro -->
			<div class="col-sm-3">
				<div class="panel panel-danger">
					<div class="panel-heading"><i class="fa fa-arrow-down"></i> Contas a Pagar</div>
					<div class="panel-body text-center">
						<div class="h2" th:text="${despesasAbertas}">0</div>
						<div class="text-muted">em aberto</div>
						<div class="text-danger" th:text="'R$ ' + ${#numbers.formatDecimal(totalDespesasAbertas,1,2)}"></div>
					</div>
					<div class="panel-footer text-center">
						<a th:href="@{/despesas}" class="btn btn-xs btn-default">Ver todas</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-success">
					<div class="panel-heading"><i class="fa fa-arrow-up"></i> Contas a Receber</div>
					<div class="panel-body text-center">
						<div class="h2" th:text="${receitasAbertas}">0</div>
						<div class="text-muted">em aberto</div>
						<div class="text-success" th:text="'R$ ' + ${#numbers.formatDecimal(totalReceitasAbertas,1,2)}"></div>
					</div>
					<div class="panel-footer text-center">
						<a th:href="@{/receitas}" class="btn btn-xs btn-default">Ver todas</a>
					</div>
				</div>
			</div>
			<!-- Atendimento -->
			<div class="col-sm-3">
				<div class="panel" th:classappend="${atendimentosEmRisco > 0} ? 'panel-warning' : 'panel-default'">
					<div class="panel-heading"><i class="fa fa-headphones"></i> Atendimentos em Risco</div>
					<div class="panel-body text-center">
						<div class="h2" th:classappend="${atendimentosEmRisco > 0} ? 'text-warning' : 'text-success'" th:text="${atendimentosEmRisco}">0</div>
						<div class="text-muted">SLA próximo do vencimento</div>
					</div>
					<div class="panel-footer text-center">
						<a th:href="@{/atendimentos/emRisco}" class="btn btn-xs btn-default">Ver detalhes</a>
					</div>
				</div>
			</div>
			<!-- Frota -->
			<div class="col-sm-3">
				<div class="panel" th:classappend="${alertasManutencaoCriticos > 0} ? 'panel-danger' : 'panel-default'">
					<div class="panel-heading"><i class="fa fa-car"></i> Alertas de Frota</div>
					<div class="panel-body text-center">
						<div class="h2" th:classappend="${alertasManutencaoCriticos > 0} ? 'text-danger' : 'text-success'" th:text="${alertasManutencaoCriticos}">0</div>
						<div class="text-muted">manutenções críticas</div>
					</div>
					<div class="panel-footer text-center">
						<a th:href="@{/frota/alertas}" class="btn btn-xs btn-default">Ver alertas</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Notificações -->
		<div th:if="${notificacoesNaoLidas > 0}" class="alert alert-info">
			<i class="glyphicon glyphicon-bell"></i>
			Você tem <strong th:text="${notificacoesNaoLidas}"></strong> notificação(ões) não lida(s).
		</div>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
<!-- 
	<script th:src="@{/javascripts/vendors/Chart.min.js}"></script>
	<script th:src="@{/javascripts/dashboard.graficos.js}"></script>
 -->	
</th:block>

</html>
