<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de Classe</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>
<body>
<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1 th:if="${classeComposicao.nova}">Cadastro de Classe</h1>
						<h1 th:unless="${classeComposicao.nova}" th:text="|Edição de ${classeComposicao.nome}|">Edição de Classe</h1>
					</div>
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/classesComposicao}"> 
							   <i class="glyphicon  glyphicon-plus-sign"></i> 
							   <span class="hidden-xs  hidden-sm">Pesquisa</span>
							</a>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="POST" 
			      th:object="${classeComposicao}" 
			      class="form-vertical  js-form-loading"
				  th:action="${classeComposicao.nova} ? @{/classesComposicao/nova} : @{/classesComposicao/{codigo}(codigo=${classeComposicao.codigo})}">
				
				<sinapiPRO:message/>
				
				<input type="hidden" th:field="*{codigo}"/>
				
				<div class="row">
				    <div class="form-group col-sm-2  sn-required" sinapiPRO:classforerror="sigla">
						<label for="sigla" class="control-label">Sigla</label>
						<input id="sigla" type="text" class="form-control" autofocus="autofocus" th:field="*{sigla}" />
					</div>	 
					<div class="form-group col-sm-10    sn-required" sinapiPRO:classforerror="nome">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}" />
					</div>	
				</div>
				
				<button class="btn  btn-primary" type="submit">Salvar</button>
				
			</form>
		</div>
	</section>
</body>
</html>