<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Equipamentos</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
	<div class="col-xs-10"><h1>Equipamentos</h1></div>
	<div class="col-xs-2"><a class="btn btn-default" th:href="@{/equipamentos/novo}"><i class="glyphicon glyphicon-plus-sign"></i></a></div>
</div></div></div>
<div class="container-fluid">
<table class="table table-hover table-bordered">
	<thead><tr><th>Nome</th><th>Tipo</th><th>Nº Série</th><th>Ativo</th><th class="table-col-acoes"></th></tr></thead>
	<tbody>
		<tr th:each="e : ${equipamentos}">
			<td th:text="${e.nome}"></td><td th:text="${e.tipo}"></td><td th:text="${e.numeroSerie}"></td>
			<td><span th:if="${e.ativo}" class="label label-success">Sim</span><span th:unless="${e.ativo}" class="label label-default">Não</span></td>
			<td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/equipamentos/{c}(c=${e.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
		</tr>
		<tr th:if="${equipamentos.isEmpty()}"><td colspan="5">Nenhum equipamento cadastrado</td></tr>
	</tbody>
</table>
</div>
</section></body></html>
