<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Prestação de Contas</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
    <div class="col-xs-10"><h1>Prestação de Contas</h1></div>
    <div class="col-xs-2"><a class="btn btn-success" th:href="@{/prestacaoContas/novo}"><i class="glyphicon glyphicon-plus"></i></a></div>
</div></div></div>
<div class="container-fluid">
<table class="table table-hover table-bordered">
    <thead><tr><th>Funcionário</th><th>Competência</th><th>Descrição</th><th class="text-right">Valor</th><th>Tipo</th><th>Situação</th><th class="table-col-acoes"></th></tr></thead>
    <tbody>
        <tr th:each="l : ${lancamentos}">
            <td th:text="${l.funcionario.nome}"></td>
            <td th:text="${l.competencia.label}"></td>
            <td th:text="${l.descricao}"></td>
            <td class="text-right" th:text="${#numbers.formatDecimal(l.valor,1,2)}"></td>
            <td><span class="label" th:classappend="${l.tipo == 'RECEITA'} ? 'label-success' : 'label-danger'" th:text="${l.tipo}"></span></td>
            <td><span class="label" th:classappend="${l.situacao == 'APROVADO'} ? 'label-success' : 'label-warning'" th:text="${l.situacao}"></span></td>
            <td class="text-center"><a class="btn btn-link btn-xs" th:href="@{/prestacaoContas/{c}(c=${l.codigo})}"><i class="glyphicon glyphicon-pencil"></i></a></td>
        </tr>
        <tr th:if="${lancamentos.isEmpty()}"><td colspan="7">Nenhum lançamento pendente</td></tr>
    </tbody>
</table>
</div>
</section></body></html>
