<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/LayoutPadrao}">
<head><title>Movimentação de Horas</title></head>
<body><section layout:fragment="conteudo">
<div class="page-header"><div class="container-fluid"><div class="row">
    <div class="col-sm-10"><h1>Registrar Movimentação de Horas</h1></div>
    <div class="col-sm-2"><a class="btn btn-default" th:href="@{/bancoHoras}"><i class="glyphicon glyphicon-arrow-left"></i></a></div>
</div></div></div>
<div class="container-fluid">
<form method="POST" th:object="${movimentacaoHora}" th:action="@{/bancoHoras/movimentar}">
    <sinapiPRO:message/><input type="hidden" th:field="*{codigo}"/>
    <div class="row">
        <div class="form-group col-sm-4 sn-required" sinapiPRO:classforerror="funcionario">
            <label class="control-label">Funcionário</label>
            <select class="form-control" th:field="*{funcionario}">
                <option value="">Selecione...</option>
                <option th:each="f : ${funcionarios}" th:value="${f.codigo}" th:text="${f.nome}"></option>
            </select>
        </div>
        <div class="form-group col-sm-3 sn-required" sinapiPRO:classforerror="competencia">
            <label class="control-label">Competência</label>
            <select class="form-control" th:field="*{competencia}">
                <option value="">Selecione...</option>
                <option th:each="c : ${competencias}" th:value="${c.codigo}" th:text="${c.label}"></option>
            </select>
        </div>
        <div class="form-group col-sm-2 sn-required"><label class="control-label">Data</label><input type="date" class="form-control" th:field="*{dataMovimentacao}"/></div>
        <div class="form-group col-sm-2 sn-required">
            <label class="control-label">Tipo</label>
            <select class="form-control" th:field="*{tipo}">
                <option value="CREDITO">Crédito</option>
                <option value="DEBITO">Débito</option>
                <option value="EXTRA">Hora Extra</option>
            </select>
        </div>
        <div class="form-group col-sm-1 sn-required"><label class="control-label">Horas</label><input type="number" step="0.5" class="form-control" th:field="*{horas}"/></div>
    </div>
    <div class="form-group"><label class="control-label">Descrição</label><input type="text" class="form-control" th:field="*{descricao}"/></div>
    <button class="btn btn-primary" type="submit">Registrar</button>
</form>
</div>
</section></body></html>
